In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# QUESTION 1

In [21]:
matches = pd.read_csv("IPL Matches 2008-2020.csv")
deliveries = pd.read_csv("IPL Ball-by-Ball 2008-2020.csv")

##closet margin (minimum runs): can be found out in the result_margin column 
##least result_margin is found out
##only the names of the teams which have least result margin (i.e. == 1) are given

In [22]:
p=matches['result_margin'].min()
print("The closest margin is:", p, "and the teams are:")
matches.filter(items=["winner"])[matches.result_margin == matches.result_margin.min()]

The closest margin is: 1.0 and the teams are:

                          winner
46               Kings XI Punjab
104              Kings XI Punjab
285             Delhi Daredevils
291               Mumbai Indians
459          Chennai Super Kings
500        Kolkata Knight Riders
539                Gujarat Lions
555  Royal Challengers Bangalore
635               Mumbai Indians
636          Chennai Super Kings
642          Sunrisers Hyderabad
734  Royal Challengers Bangalore
755               Mumbai Indians

# QUESTION 2

##Rohit against RCB all rows

In [27]:
Rohit_highest=deliveries.loc[(deliveries["batsman"] == 'RG Sharma') & (deliveries["bowling_team"] == 'Royal Challengers Bangalore')]

In [28]:
Rohit_highest

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
4794,336002,1,13,4,RG Sharma,Y Venugopal Rao,V Kohli,2,0,2,0,0,NaN,NaN,NaN,NaN,Deccan Chargers,Royal Challengers Bangalore
4795,336002,1,13,5,RG Sharma,Y Venugopal Rao,V Kohli,1,1,2,0,0,NaN,NaN,NaN,noballs,Deccan Chargers,Royal Challengers Bangalore
4797,336002,1,13,7,RG Sharma,Y Venugopal Rao,V Kohli,0,1,1,0,0,NaN,NaN,NaN,wides,Deccan Chargers,Royal Challengers Bangalore
4798,336002,1,13,8,RG Sharma,Y Venugopal Rao,V Kohli,1,0,1,0,0,NaN,NaN,NaN,NaN,Deccan Chargers,Royal Challengers Bangalore
4799,336002,1,14,1,RG Sharma,Y Venugopal Rao,R Vinay Kumar,2,0,2,0,0,NaN,NaN,NaN,NaN,Deccan Chargers,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192278,1216547,2,0,6,RG Sharma,Q de Kock,I Udana,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
192280,1216547,2,1,1,RG Sharma,Q de Kock,Washington Sundar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
192281,1216547,2,1,2,RG Sharma,Q de Kock,Washington Sundar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
192282,1216547,2,1,3,RG Sharma,Q de Kock,Washington Sundar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
192283,1216547,2,1,4,RG Sharma,Q de Kock,Washington Sundar,0,0,0,0,1,caught,RG Sharma,P Negi (sub),NaN,Mumbai Indians,Royal Challengers Bangalore

##Rohit against RCB according to match id (i.e. innings)

In [29]:
Rohit_highest.groupby("id")

In [30]:
Rohit_highest.groupby("id").apply(lambda a: a[:])

                     id  inning  over  ball    batsman      non_striker  \
id
336002  4794     336002       1    13     4  RG Sharma  Y Venugopal Rao
        4795     336002       1    13     5  RG Sharma  Y Venugopal Rao
        4797     336002       1    13     7  RG Sharma  Y Venugopal Rao
        4798     336002       1    13     8  RG Sharma  Y Venugopal Rao
        4799     336002       1    14     1  RG Sharma  Y Venugopal Rao
...                 ...     ...   ...   ...        ...              ...
1216547 192278  1216547       2     0     6  RG Sharma        Q de Kock
        192280  1216547       2     1     1  RG Sharma        Q de Kock
        192281  1216547       2     1     2  RG Sharma        Q de Kock
        192282  1216547       2     1     3  RG Sharma        Q de Kock
        192283  1216547       2     1     4  RG Sharma        Q de Kock

                           bowler  batsman_runs  extra_runs  total_runs  \
id
336002  4794              V Kohli             2           0           2
        4795              V Kohli             1           1           2
        4797              V Kohli             0           1           1
        4798              V Kohli             1           0           1
        4799        R Vinay Kumar             2           0           2
...                           ...           ...         ...         ...
1216547 192278            I Udana             1           0           1
        192280  Washington Sundar             0           0           0
        192281  Washington Sundar             0           0           0
        192282  Washington Sundar             0           0           0
        192283  Washington Sundar             0           0           0

                non_boundary  is_wicket dismissal_kind player_dismissed  \
id
336002  4794               0          0            NaN              NaN
        4795               0          0            NaN              NaN
        4797               0          0            NaN              NaN
        4798               0          0            NaN              NaN
        4799               0          0            NaN              NaN
...                      ...        ...            ...              ...
1216547 192278             0          0            NaN              NaN
        192280             0          0            NaN              NaN
        192281             0          0            NaN              NaN
        192282             0          0            NaN              NaN
        192283             0          1         caught        RG Sharma

                     fielder extras_type     batting_team  \
id
336002  4794             NaN         NaN  Deccan Chargers
        4795             NaN     noballs  Deccan Chargers
        4797             NaN       wides  Deccan Chargers
        4798             NaN         NaN  Deccan Chargers
        4799             NaN         NaN  Deccan Chargers
...                      ...         ...              ...
1216547 192278           NaN         NaN   Mumbai Indians
        192280           NaN         NaN   Mumbai Indians
        192281           NaN         NaN   Mumbai Indians
        192282           NaN         NaN   Mumbai Indians
        192283  P Negi (sub)         NaN   Mumbai Indians

                               bowling_team
id
336002  4794    Royal Challengers Bangalore
        4795    Royal Challengers Bangalore
        4797    Royal Challengers Bangalore
        4798    Royal Challengers Bangalore
        4799    Royal Challengers Bangalore
...                                     ...
1216547 192278  Royal Challengers Bangalore
        192280  Royal Challengers Bangalore
        192281  Royal Challengers Bangalore
        192282  Royal Challengers Bangalore
        192283  Royal Challengers Bangalore

[526 rows x 18 columns]

##Rohit total runs in each match against RCB

In [62]:
Rohit_highest.groupby("id").sum()

,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
id,,,,,,,,
336002,17,217,75,17,2,19,0,1
336034,86,440,148,57,2,59,0,1
392188,31,368,115,52,3,55,0,1
392236,24,189,43,12,0,12,0,1
392239,24,291,88,24,2,26,0,1
419145,10,53,18,6,0,6,0,1
419151,47,420,180,51,7,58,0,2
419164,4,6,11,0,1,1,0,1
501270,30,117,49,13,0,13,0,1
548360,4,4,18,0,1,1,0,1
548367,14,14,24,5,0,5,0,1
597999,22,125,41,11,0,11,0,1
598033,8,87,27,10,0,10,0,1
729287,5,40,13,2,0,2,0,1
733983,37,507,139,59,3,62,0,0
829737,15,235,59,42,0,42,0,1
829795,28,78,58,15,1,16,0,1
980927,88,285,149,62,1,63,0,1
980981,52,104,98,25,3,28,0,1
1082602,4,3,10,0,0,0,0,1
1082628,78,523,135,56,3,59,0,0
1136574,54,588,182,94,3,97,0,2
1136591,2,3,2,0,0,0,0,1
1175362,33,151,137,48,0,48,0,1
1178406,40,72,65,28,1,29,0,1
1216547,16,4,26,8,0,8,0,1

##Rohit maximum runs against RCB

In [64]:
Rohit_highest.groupby("id")["batsman_runs"].sum().max()

94

# QUESTION 3

In [34]:
print("Number of matches where toss winner was the match winner is:", len(matches.loc[matches["toss_winner"] == matches["winner"]]))
print("Number of matches where toss winner was not the match winner is:", len(matches.loc[matches["toss_winner"] != matches["winner"]]))

Number of matches where toss winner was the match winner is: 418
Number of matches where toss winner was not the match winner is: 398

##Since number of matches where toss winner is the match winner is higher, therefore we conclude that winning toss is more beneficial over lossing it!

# QUESTION 4

All rows where RCB is bowling

In [36]:
deliveries.loc[(deliveries["bowling_team"] == 'Royal Challengers Bangalore')]

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192978,1237178,2,13,4,KS Williamson,JO Holder,Washington Sundar,0,0,0,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192979,1237178,2,13,5,KS Williamson,JO Holder,Washington Sundar,6,0,6,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192980,1237178,2,13,6,KS Williamson,JO Holder,Washington Sundar,2,0,2,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192981,1237178,2,14,1,JO Holder,KS Williamson,A Zampa,1,0,1,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192982,1237178,2,0,1,DA Warner,SP Goswami,Mohammed Siraj,0,1,1,0,0,NaN,NaN,NaN,wides,Sunrisers Hyderabad,Royal Challengers Bangalore

All rows where RCB is bowling and the last 5 overs

In [37]:
concede_runs=deliveries.loc[(deliveries["bowling_team"] == 'Royal Challengers Bangalore') & (deliveries.over>14)]

In [38]:
concede_runs

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
52,335982,1,15,1,DJ Hussey,BB McCullum,AA Noffke,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
53,335982,1,15,2,DJ Hussey,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
54,335982,1,15,3,BB McCullum,DJ Hussey,AA Noffke,2,0,2,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
55,335982,1,15,4,BB McCullum,DJ Hussey,AA Noffke,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
56,335982,1,15,5,BB McCullum,DJ Hussey,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192767,1237178,2,18,6,KS Williamson,JO Holder,Mohammed Siraj,1,0,1,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192768,1237178,2,19,1,KS Williamson,JO Holder,NA Saini,1,0,1,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192769,1237178,2,19,2,JO Holder,KS Williamson,NA Saini,0,0,0,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192770,1237178,2,19,3,JO Holder,KS Williamson,NA Saini,4,0,4,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore
192771,1237178,2,19,4,JO Holder,KS Williamson,NA Saini,4,0,4,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore

In [39]:
concede_runs.groupby("id")

In [40]:
concede_runs.groupby("id").sum()

,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
id,,,,,,,,
335982,30,510,105,68,0,68,0,1
335985,31,525,112,58,2,60,0,3
335992,26,203,43,17,0,17,0,1
335996,31,528,112,75,1,76,0,2
335998,31,526,112,39,1,40,0,3
...,...,...,...,...,...,...,...,...
1216534,58,489,101,27,5,32,0,8
1216540,62,527,112,20,2,22,0,2
1216544,44,360,73,22,1,23,0,0
1216547,62,528,112,88,1,89,0,1
1237178,56,472,94,45,0,45,0,0

Total conceding runs in last 5 overs

In [54]:
totconcedingruns=concede_runs.groupby("id")["batsman_runs"].sum().sum()

In [55]:
totconcedingruns

7975

Total matches played by RCB

In [61]:
totmatches=concede_runs.groupby("id")["id"].count().count()

In [60]:
totmatches

id
335982     30
335985     31
335992     13
335996     31
335998     31
           ..
1216534    29
1216540    31
1216544    22
1216547    31
1237178    28
Name: id, Length: 181, dtype: int64

Rate of RCB conceding runs in the last 5 overs

In [58]:
print(totconcedingruns/totmatches)

44.06077348066298

# QUESTION 5

In [50]:
matches.loc[(matches["team1"] == 'Royal Challengers Bangalore') | (matches["team2"] == 'Royal Challengers Bangalore')]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
10,335992,Bangalore,2008-04-26,SR Watson,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,MR Benson,IL Howell
14,335996,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
16,335998,Delhi,2008-04-30,GD McGrath,Feroz Shah Kotla,0,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Delhi Daredevils,runs,10.0,N,NaN,Aleem Dar,I Shivram
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,1216534,Dubai,2020-09-21,YS Chahal,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Royal Challengers Bangalore,runs,10.0,N,NaN,AY Dandekar,Nitin Menon
804,1216540,Sharjah,2020-10-12,AB de Villiers,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,N,NaN,RK Illingworth,K Srinivasan
808,1216544,Dubai,2020-10-25,RD Gaikwad,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Chennai Super Kings,wickets,8.0,N,NaN,C Shamshuddin,RK Illingworth
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi

All innings where DD is bowling team

In [65]:
mostwickets=deliveries.loc[(deliveries["bowling_team"] == "Delhi Daredevils")]

In [66]:
mostwickets

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
473,335984,1,0,2,T Kohli,YK Pathan,GD McGrath,0,0,0,0,0,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Daredevils
474,335984,1,0,3,T Kohli,YK Pathan,GD McGrath,0,0,0,0,0,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Daredevils
475,335984,1,0,4,T Kohli,YK Pathan,GD McGrath,0,1,1,0,0,NaN,NaN,NaN,wides,Rajasthan Royals,Delhi Daredevils
476,335984,1,0,6,T Kohli,YK Pathan,GD McGrath,0,0,0,0,0,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Daredevils
477,335984,1,0,7,T Kohli,YK Pathan,GD McGrath,6,0,6,0,0,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Daredevils
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163433,1136615,2,16,2,M Markande,BCJ Cutting,TA Boult,0,1,1,0,0,NaN,NaN,NaN,legbyes,Mumbai Indians,Delhi Daredevils
163434,1136615,2,16,3,BCJ Cutting,M Markande,TA Boult,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Daredevils
163435,1136615,2,15,7,M Markande,BCJ Cutting,S Lamichhane,2,0,2,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Daredevils
163436,1136615,2,16,5,BCJ Cutting,M Markande,TA Boult,6,0,6,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Daredevils
163437,1136615,2,16,4,BCJ Cutting,M Markande,TA Boult,2,0,2,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Daredevils

In [67]:
concede_runs.groupby("bowler")

In [68]:
concede=concede_runs.groupby("bowler").sum()

Sum of all the wickets taken by every bowler in DD

In [73]:
concede

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
bowler,,,,,,,,,
A Choudhary,29230720,34,459,106,37,3,40,0,1
A Kumble,68828459,220,2809,618,205,12,217,0,18
A Mithun,42310466,117,1505,325,147,8,155,0,5
A Zampa,7299282,12,96,21,27,0,27,0,0
AA Noffke,4031784,12,192,42,11,0,11,0,1
...,...,...,...,...,...,...,...,...,...
VR Aaron,75201424,143,1618,355,161,15,176,0,9
Washington Sundar,35787114,42,468,105,33,1,34,0,3
YS Chahal,320117853,469,4853,1117,449,22,471,0,26
Yuvraj Singh,25634035,64,543,130,47,5,52,0,0
Z Khan,159081898,459,5505,1156,447,22,469,0,25

Maximum wickets taken by any bowler

In [74]:
p=concede_runs.groupby("bowler").sum().is_wicket.max()
p

40

Name of the bowler who has taken the maximum number of wickets

In [114]:
concede.filter(items=["bowler", "is_wicket"])[concede.is_wicket == p]

               is_wicket
bowler
R Vinay Kumar         40

# QUESTION 6

Scoring pattern for MI throughtout the years

In [78]:
scoringpattern=deliveries.loc[(deliveries["batting_team"] == "Mumbai Indians")]
scoringpattern

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
692,335985,1,0,2,L Ronchi,ST Jayasuriya,P Kumar,4,0,4,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
693,335985,1,0,1,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
694,335985,1,0,6,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
695,335985,1,0,3,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
696,335985,1,0,4,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,2,17,6,HH Pandya,Ishan Kishan,K Rabada,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193373,1237181,2,18,1,HH Pandya,Ishan Kishan,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193374,1237181,2,18,2,Ishan Kishan,HH Pandya,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193375,1237181,2,18,3,HH Pandya,Ishan Kishan,A Nortje,0,0,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals
193376,1237181,2,18,4,KH Pandya,Ishan Kishan,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

Powerplay overs for MI

In [79]:
scoringpatternpp=deliveries.loc[(deliveries["batting_team"] == "Mumbai Indians") & (deliveries.over<6)]
scoringpatternpp

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
692,335985,1,0,2,L Ronchi,ST Jayasuriya,P Kumar,4,0,4,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
693,335985,1,0,1,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
694,335985,1,0,6,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
695,335985,1,0,3,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
696,335985,1,0,4,L Ronchi,ST Jayasuriya,P Kumar,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193296,1237181,2,5,2,SA Yadav,RG Sharma,AR Patel,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193297,1237181,2,5,3,SA Yadav,RG Sharma,AR Patel,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193298,1237181,2,5,4,SA Yadav,RG Sharma,AR Patel,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193299,1237181,2,5,5,RG Sharma,SA Yadav,AR Patel,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193300,1237181,2,5,6,SA Yadav,RG Sharma,AR Patel,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

Total runs from Powerplay overs

In [80]:
totrunsscoringpatternpp=scoringpatternpp.groupby("id")["total_runs"].sum()
totrunsscoringpatternpp

id
335985     47
335989     52
335991     39
335994     27
335997     38
           ..
1216538    48
1216541    59
1216547    35
1237177    63
1237181    61
Name: total_runs, Length: 203, dtype: int64

In [81]:
totrunsscoringpatternpp=scoringpatternpp.groupby("id")["total_runs"].sum().sum()
totrunsscoringpatternpp

9204

Depth overs over for MI

In [82]:
scoringpatterndepth=deliveries.loc[(deliveries["batting_team"] == "Mumbai Indians") & (deliveries.over>14)]
scoringpatterndepth

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
742,335985,1,15,1,RV Uthappa,AM Nayar,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
743,335985,1,15,2,AM Nayar,RV Uthappa,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
744,335985,1,15,3,RV Uthappa,AM Nayar,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
745,335985,1,15,4,AM Nayar,RV Uthappa,JH Kallis,0,1,1,0,0,NaN,NaN,NaN,wides,Mumbai Indians,Royal Challengers Bangalore
746,335985,1,15,5,AM Nayar,RV Uthappa,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,2,17,6,HH Pandya,Ishan Kishan,K Rabada,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193373,1237181,2,18,1,HH Pandya,Ishan Kishan,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193374,1237181,2,18,2,Ishan Kishan,HH Pandya,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193375,1237181,2,18,3,HH Pandya,Ishan Kishan,A Nortje,0,0,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals
193376,1237181,2,18,4,KH Pandya,Ishan Kishan,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

Total runs from Powerplay overs

In [83]:
totrunsscoringpatterndepth=scoringpatterndepth.groupby("id")["total_runs"].sum()
totrunsscoringpatterndepth

id
335985     60
335989     68
335991     15
335994     55
335997     28
           ..
1216538    61
1216541    79
1216547    89
1237177    78
1237181    31
Name: total_runs, Length: 195, dtype: int64

In [84]:
totrunsscoringpatterndepth=scoringpatterndepth.groupby("id")["total_runs"].sum().sum()
totrunsscoringpatterndepth

9312

Middle overs over for MI

In [86]:
scoringpatternmo=deliveries.loc[(deliveries["batting_team"] == "Mumbai Indians") & (deliveries.over>5) & (deliveries.over<15)]
scoringpatternmo

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
728,335985,1,12,5,RV Uthappa,PR Shah,SB Joshi,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
729,335985,1,12,6,PR Shah,RV Uthappa,SB Joshi,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
730,335985,1,13,1,PR Shah,RV Uthappa,B Akhil,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
731,335985,1,13,2,PR Shah,RV Uthappa,B Akhil,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
732,335985,1,13,3,PR Shah,RV Uthappa,B Akhil,0,0,0,0,1,caught,PR Shah,V Kohli,NaN,Mumbai Indians,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193350,1237181,2,14,2,RG Sharma,Ishan Kishan,MP Stoinis,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193351,1237181,2,14,3,RG Sharma,Ishan Kishan,MP Stoinis,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193352,1237181,2,14,4,Ishan Kishan,RG Sharma,MP Stoinis,6,0,6,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193353,1237181,2,14,5,Ishan Kishan,RG Sharma,MP Stoinis,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
193354,1237181,2,14,6,RG Sharma,Ishan Kishan,MP Stoinis,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

Total runs from middle overs

In [87]:
totrunsscoringpatternmo=scoringpatternmo.groupby("id")["total_runs"].sum()
totrunsscoringpatternmo

id
335985     58
335989     82
335991     62
335994     72
335997     72
           ..
1216538    99
1216541    57
1216547    77
1237177    59
1237181    65
Name: total_runs, Length: 202, dtype: int64

In [88]:
totrunsscoringpatternmo=scoringpatternmo.groupby("id")["total_runs"].sum().sum()
totrunsscoringpatternmo

13770

In [89]:
print("The scoring pattern in powerplay, depth and middle over for MI across the years is: ", totrunsscoringpatternpp, totrunsscoringpatterndepth, totrunsscoringpatternmo)

The scoring pattern in powerplay, depth and middle over for MI across the years is:  9204 9312 13770

Thus we can conclude that MI plays best and scores most during the middle overs.

# QUESTION 7

Groupby player of matches

In [90]:
matches.groupby("player_of_match").apply(lambda a: a[:])

                          id          city        date player_of_match  \
player_of_match
A Chandila      305   548365        Jaipur  2012-05-13      A Chandila
A Kumble        47    336029       Chennai  2008-05-21        A Kumble
                114   392239  Johannesburg  2009-05-24        A Kumble
                173   419164        Mumbai  2010-04-24        A Kumble
A Mishra        38    336020         Delhi  2008-05-15        A Mishra
...                      ...           ...         ...             ...
Yuvraj Singh    104   392229  Johannesburg  2009-05-17    Yuvraj Singh
                190   501213        Mumbai  2011-04-17    Yuvraj Singh
                435   734005     Bangalore  2014-05-13    Yuvraj Singh
                577  1082591     Hyderabad  2017-04-05    Yuvraj Singh
Z Khan          505   829801        Raipur  2015-05-12          Z Khan

                                                                venue  \
player_of_match
A Chandila      305                            Sawai Mansingh Stadium
A Kumble        47                    MA Chidambaram Stadium, Chepauk
                114                             New Wanderers Stadium
                173                        Dr DY Patil Sports Academy
A Mishra        38                                   Feroz Shah Kotla
...                                                               ...
Yuvraj Singh    104                             New Wanderers Stadium
                190                        Dr DY Patil Sports Academy
                435                             M Chinnaswamy Stadium
                577         Rajiv Gandhi International Stadium, Uppal
Z Khan          505  Shaheed Veer Narayan Singh International Stadium

                     neutral_venue                        team1  \
player_of_match
A Chandila      305              0             Rajasthan Royals
A Kumble        47               0          Chennai Super Kings
                114              1  Royal Challengers Bangalore
                173              0  Royal Challengers Bangalore
A Mishra        38               0             Delhi Daredevils
...                            ...                          ...
Yuvraj Singh    104              1              Deccan Chargers
                190              0                Pune Warriors
                435              0  Royal Challengers Bangalore
                577              0          Sunrisers Hyderabad
Z Khan          505              0             Delhi Daredevils

                                           team2                  toss_winner  \
player_of_match
A Chandila      305                Pune Warriors             Rajasthan Royals
A Kumble        47   Royal Challengers Bangalore  Royal Challengers Bangalore
                114              Deccan Chargers  Royal Challengers Bangalore
                173              Deccan Chargers              Deccan Chargers
A Mishra        38               Deccan Chargers              Deccan Chargers
...                                          ...                          ...
Yuvraj Singh    104              Kings XI Punjab              Deccan Chargers
                190             Delhi Daredevils             Delhi Daredevils
                435             Delhi Daredevils             Delhi Daredevils
                577  Royal Challengers Bangalore  Royal Challengers Bangalore
Z Khan          505          Chennai Super Kings          Chennai Super Kings

                    toss_decision                       winner   result  \
player_of_match
A Chandila      305           bat             Rajasthan Royals     runs
A Kumble        47            bat  Royal Challengers Bangalore     runs
                114         field              Deccan Chargers     runs
                173           bat  Royal Challengers Bangalore  wickets
A Mishra        38          field             Delhi Daredevils     runs
...                           ...                          ...      ...
Yuvraj Singh    104         field              Kings XI Punjab     runs
                190         field             Delhi Daredevils  wickets
                435         field  Royal Challengers Bangalore     runs
                577         field          Sunrisers Hyderabad     runs
Z Khan          505           bat             Delhi Daredevils  wickets

                     result_margin eliminator method         umpire1  \
player_of_match
A Chandila      305           45.0          N    NaN       BF Bowden
A Kumble        47            14.0          N    NaN       DJ Harper
                114            6.0          N    NaN     RE Koertzen
                173            9.0          N    NaN     RE Koertzen
A Mishra        38            12.0          N    NaN      BG Jerling
...                            ...        ...    ...             ...
Yuvraj Singh    104            1.0          N    NaN          S Ravi
                190            3.0          N    NaN       Asad Rauf
                435           16.0          N    NaN       K Srinath
                577           35.0          N    NaN     AY Dandekar
Z Khan          505            6.0          N    NaN  RK Illingworth

                            umpire2
player_of_match
A Chandila      305     SK Tarapore
A Kumble        47        I Shivram
                114      SJA Taufel
                173      SJA Taufel
A Mishra        38   GA Pratapkumar
...                             ...
Yuvraj Singh    104       RB Tiffin
                190       AM Saheba
                435       RJ Tucker
                577        NJ Llong
Z Khan          505     VA Kulkarni

[812 rows x 17 columns]

Number of times each player has won man of the match

In [91]:
matches.groupby("player_of_match")["id"].count()

player_of_match
A Chandila            1
A Kumble              3
A Mishra             11
A Nehra               6
A Nortje              2
                     ..
Washington Sundar     1
YK Pathan            16
YS Chahal             3
Yuvraj Singh          5
Z Khan                1
Name: id, Length: 233, dtype: int64

Maximum of number of times each player has won man of the match

In [93]:
matches.groupby("player_of_match")["id"].count().max()

23

In [94]:
a=matches["player_of_match"].value_counts()
a

AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
                  ..
SB Wagh            1
MR Marsh           1
MD Mishra          1
S Sreesanth        1
SB Jakati          1
Name: player_of_match, Length: 233, dtype: int64

Player who won man of the match maximum number of times

In [96]:
e=a.index.tolist()
e[0]

'AB de Villiers'

# QUESTION 8

In [97]:
gayle=deliveries.loc[(deliveries["batsman"] == 'CH Gayle')]
gayle

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
14141,392184,1,0,3,CH Gayle,BB McCullum,FH Edwards,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
14142,392184,1,0,4,CH Gayle,BB McCullum,FH Edwards,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
14143,392184,1,0,5,CH Gayle,BB McCullum,FH Edwards,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
14144,392184,1,0,6,CH Gayle,BB McCullum,FH Edwards,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
14147,392184,1,1,3,CH Gayle,SC Ganguly,RP Singh,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Deccan Chargers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192185,1216546,2,4,5,CH Gayle,MA Agarwal,TU Deshpande,6,0,6,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Delhi Capitals
192186,1216546,2,4,6,CH Gayle,MA Agarwal,TU Deshpande,0,1,1,0,0,NaN,NaN,NaN,wides,Kings XI Punjab,Delhi Capitals
192187,1216546,2,4,7,CH Gayle,MA Agarwal,TU Deshpande,1,0,1,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Delhi Capitals
192188,1216546,2,5,1,CH Gayle,MA Agarwal,R Ashwin,2,0,2,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Delhi Capitals
192189,1216546,2,5,2,CH Gayle,MA Agarwal,R Ashwin,0,0,0,0,1,bowled,CH Gayle,NaN,NaN,Kings XI Punjab,Delhi Capitals

Grouping by overs

In [98]:
gayle.groupby("over").apply(lambda a: a[:])

                  id  inning  over  ball   batsman  non_striker      bowler  \
over
0    14141    392184       1     0     3  CH Gayle  BB McCullum  FH Edwards
     14142    392184       1     0     4  CH Gayle  BB McCullum  FH Edwards
     14143    392184       1     0     5  CH Gayle  BB McCullum  FH Edwards
     14144    392184       1     0     6  CH Gayle  BB McCullum  FH Edwards
     14649    392186       2     0     5  CH Gayle  BB McCullum   IK Pathan
...              ...     ...   ...   ...       ...          ...         ...
19   188427  1216531       2    19     2  CH Gayle     KL Rahul   YS Chahal
     188428  1216531       2    19     3  CH Gayle     KL Rahul   YS Chahal
     189852  1216537       1    19     1  CH Gayle   GJ Maxwell   JC Archer
     189854  1216537       1    19     3  CH Gayle   GJ Maxwell   JC Archer
     189976  1216537       1    19     4  CH Gayle   GJ Maxwell   JC Archer

             batsman_runs  extra_runs  total_runs  non_boundary  is_wicket  \
over
0    14141              0           0           0             0          0
     14142              0           0           0             0          0
     14143              0           0           0             0          0
     14144              0           0           0             0          0
     14649              0           0           0             0          0
...                   ...         ...         ...           ...        ...
19   188427             0           0           0             0          0
     188428             1           0           1             0          0
     189852             1           0           1             0          0
     189854             6           0           6             0          0
     189976             0           0           0             0          1

            dismissal_kind player_dismissed fielder extras_type  \
over
0    14141             NaN              NaN     NaN         NaN
     14142             NaN              NaN     NaN         NaN
     14143             NaN              NaN     NaN         NaN
     14144             NaN              NaN     NaN         NaN
     14649             NaN              NaN     NaN         NaN
...                    ...              ...     ...         ...
19   188427            NaN              NaN     NaN         NaN
     188428            NaN              NaN     NaN         NaN
     189852            NaN              NaN     NaN         NaN
     189854            NaN              NaN     NaN         NaN
     189976         bowled         CH Gayle     NaN         NaN

                      batting_team                 bowling_team
over
0    14141   Kolkata Knight Riders              Deccan Chargers
     14142   Kolkata Knight Riders              Deccan Chargers
     14143   Kolkata Knight Riders              Deccan Chargers
     14144   Kolkata Knight Riders              Deccan Chargers
     14649   Kolkata Knight Riders              Kings XI Punjab
...                            ...                          ...
19   188427        Kings XI Punjab  Royal Challengers Bangalore
     188428        Kings XI Punjab  Royal Challengers Bangalore
     189852        Kings XI Punjab             Rajasthan Royals
     189854        Kings XI Punjab             Rajasthan Royals
     189976        Kings XI Punjab             Rajasthan Royals

[3342 rows x 18 columns]

Adding all his runs in each over

In [99]:
gayle.groupby("over")["batsman_runs"].sum()

over
0     321
1     376
2     462
3     416
4     428
5     302
6     236
7     259
8     254
9     168
10    230
11    194
12    239
13    182
14    149
15    171
16    120
17    141
18     71
19     53
Name: batsman_runs, dtype: int64

Thus, we can conclude that Gayle scores most in the powerplay overs, then in the middle overs he gets slowed down(probably gets out), and in the depth overs he plays even slower because most probably he is already out.

# QUESTION 9

All DC vs MI matches

In [100]:
dcmi=deliveries.loc[((deliveries["batting_team"] == "Deccan Chargers") & (deliveries["bowling_team"] == "Mumbai Indians")) | ((deliveries["bowling_team"] == "Deccan Chargers") & (deliveries["batting_team"] == "Mumbai Indians"))]
dcmi

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
2839,335994,1,0,4,L Ronchi,ST Jayasuriya,RP Singh,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
2840,335994,1,1,1,L Ronchi,ST Jayasuriya,DNT Zoysa,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
2841,335994,1,0,5,ST Jayasuriya,L Ronchi,RP Singh,0,1,1,0,0,NaN,NaN,NaN,wides,Mumbai Indians,Deccan Chargers
2842,335994,1,0,6,ST Jayasuriya,L Ronchi,RP Singh,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
2843,335994,1,0,7,ST Jayasuriya,L Ronchi,RP Singh,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67878,548346,2,11,4,JEC Franklin,RG Sharma,A Mishra,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67879,548346,2,10,6,JEC Franklin,RG Sharma,A Ashish Reddy,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67880,548346,2,11,1,RG Sharma,JEC Franklin,A Mishra,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67881,548346,2,11,2,JEC Franklin,RG Sharma,A Mishra,2,0,2,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67882,548346,2,11,3,JEC Franklin,RG Sharma,A Mishra,2,0,2,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers

Let's analyse Rohit's performance as a batsman for every ball that he scored "0"

In [101]:
rohit=dcmi.loc[(dcmi["batsman"] == 'RG Sharma') & (dcmi["batsman_runs"] == 0)]
rohit

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
9697,336024,2,1,7,RG Sharma,AC Gilchrist,DJ Bravo,0,0,0,0,0,NaN,NaN,NaN,NaN,Deccan Chargers,Mumbai Indians
9700,336024,2,2,3,RG Sharma,AC Gilchrist,A Nehra,0,0,0,0,0,NaN,NaN,NaN,NaN,Deccan Chargers,Mumbai Indians
9708,336024,2,3,5,RG Sharma,AC Gilchrist,DJ Bravo,0,0,0,0,0,NaN,NaN,NaN,NaN,Deccan Chargers,Mumbai Indians
9709,336024,2,3,6,RG Sharma,AC Gilchrist,DJ Bravo,0,0,0,0,0,NaN,NaN,NaN,NaN,Deccan Chargers,Mumbai Indians
9712,336024,2,4,3,RG Sharma,LPC Silva,CRD Fernando,0,0,0,0,1,lbw,RG Sharma,NaN,NaN,Deccan Chargers,Mumbai Indians
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67868,548346,2,10,1,RG Sharma,JEC Franklin,A Ashish Reddy,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67869,548346,2,10,2,RG Sharma,JEC Franklin,A Ashish Reddy,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67870,548346,2,10,3,RG Sharma,JEC Franklin,A Ashish Reddy,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67874,548346,2,4,7,RG Sharma,SR Tendulkar,DT Christian,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers
67876,548346,2,5,2,RG Sharma,SR Tendulkar,V Pratap Singh,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Deccan Chargers

Let's see all the bowlers' when Rohit didn't score on the ball

In [105]:
rohit.groupby("bowler").apply(lambda a: a[:])

                          id  inning  over  ball    batsman   non_striker  \
bowler
A Ashish Reddy 67868  548346       2    10     1  RG Sharma  JEC Franklin
               67869  548346       2    10     2  RG Sharma  JEC Franklin
               67870  548346       2    10     3  RG Sharma  JEC Franklin
A Mishra       47625  501224       1     8     5  RG Sharma    KA Pollard
               47626  501224       1     8     6  RG Sharma    KA Pollard
...                      ...     ...   ...   ...        ...           ...
V Pratap Singh 67851  548346       2     7     4  RG Sharma    KD Karthik
               67876  548346       2     5     2  RG Sharma  SR Tendulkar
Z Khan         15696  392192       1    13     1  RG Sharma      HH Gibbs
               32975  419130       2    16     4  RG Sharma     KAJ Roach
               35060  419138       2     6     2  RG Sharma     A Symonds

                              bowler  batsman_runs  extra_runs  total_runs  \
bowler
A Ashish Reddy 67868  A Ashish Reddy             0           0           0
               67869  A Ashish Reddy             0           0           0
               67870  A Ashish Reddy             0           0           0
A Mishra       47625        A Mishra             0           0           0
               47626        A Mishra             0           0           0
...                              ...           ...         ...         ...
V Pratap Singh 67851  V Pratap Singh             0           0           0
               67876  V Pratap Singh             0           0           0
Z Khan         15696          Z Khan             0           1           1
               32975          Z Khan             0           0           0
               35060          Z Khan             0           0           0

                      non_boundary  is_wicket dismissal_kind player_dismissed  \
bowler
A Ashish Reddy 67868             0          0            NaN              NaN
               67869             0          0            NaN              NaN
               67870             0          0            NaN              NaN
A Mishra       47625             0          0            NaN              NaN
               47626             0          0            NaN              NaN
...                            ...        ...            ...              ...
V Pratap Singh 67851             0          0            NaN              NaN
               67876             0          0            NaN              NaN
Z Khan         15696             0          0            NaN              NaN
               32975             0          1         bowled        RG Sharma
               35060             0          0            NaN              NaN

                     fielder extras_type     batting_team     bowling_team
bowler
A Ashish Reddy 67868     NaN         NaN   Mumbai Indians  Deccan Chargers
               67869     NaN         NaN   Mumbai Indians  Deccan Chargers
               67870     NaN         NaN   Mumbai Indians  Deccan Chargers
A Mishra       47625     NaN         NaN   Mumbai Indians  Deccan Chargers
               47626     NaN         NaN   Mumbai Indians  Deccan Chargers
...                      ...         ...              ...              ...
V Pratap Singh 67851     NaN         NaN   Mumbai Indians  Deccan Chargers
               67876     NaN         NaN   Mumbai Indians  Deccan Chargers
Z Khan         15696     NaN     legbyes  Deccan Chargers   Mumbai Indians
               32975     NaN         NaN  Deccan Chargers   Mumbai Indians
               35060     NaN         NaN  Deccan Chargers   Mumbai Indians

[91 rows x 18 columns]

Let's observe the total number of balls where every bowler gave "0" runs to Rohit

In [104]:
rb=rohit["bowler"].value_counts()
rb

DJ Bravo           13
DW Steyn           13
A Mishra           11
PP Ojha             8
DT Christian        6
Ankit Sharma        6
DS Kulkarni         5
V Pratap Singh      5
KA Pollard          4
A Ashish Reddy      3
Z Khan              3
Anand Rajan         3
Harbhajan Singh     2
SL Malinga          2
ST Jayasuriya       2
JP Duminy           1
I Sharma            1
CRD Fernando        1
A Nehra             1
RR Raje             1
Name: bowler, dtype: int64

Every bowler who took Rohit's wicket

In [107]:
rohit.filter(items=["bowler"])[rohit.is_wicket == 1]

             bowler
9712   CRD Fernando
15705      DJ Bravo
20353    SL Malinga
32975        Z Khan
35004    KA Pollard
55103      I Sharma
67810     JP Duminy

Since DJ Bravo took a Rohit wicket AND gave 13 balls with 0 runs, we can conclude that the best bowler against RG Sharma is DJ Bravo, so DC should put Bravo against Rohit as much as possible

# QUESTION 10

Grouping all depth overs

In [108]:
depthoveranalysis=deliveries.loc[deliveries.over>14]
depthoveranalysis

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
52,335982,1,15,1,DJ Hussey,BB McCullum,AA Noffke,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
53,335982,1,15,2,DJ Hussey,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
54,335982,1,15,3,BB McCullum,DJ Hussey,AA Noffke,2,0,2,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
55,335982,1,15,4,BB McCullum,DJ Hussey,AA Noffke,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
56,335982,1,15,5,BB McCullum,DJ Hussey,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193381,1237181,1,19,2,AR Patel,SS Iyer,NM Coulter-Nile,0,0,0,0,1,caught,AR Patel,AS Roy (sub),NaN,Delhi Capitals,Mumbai Indians
193382,1237181,1,19,3,SS Iyer,K Rabada,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193383,1237181,1,19,4,SS Iyer,K Rabada,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193384,1237181,1,19,5,SS Iyer,K Rabada,NM Coulter-Nile,6,0,6,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193385,1237181,1,19,6,SS Iyer,K Rabada,NM Coulter-Nile,1,0,1,0,1,run out,K Rabada,NaN,NaN,Delhi Capitals,Mumbai Indians

In [109]:
depthoveranalysis.groupby("over").apply(lambda a: a[:])

                  id  inning  over  ball      batsman  non_striker  \
over
15   52       335982       1    15     1    DJ Hussey  BB McCullum
     53       335982       1    15     2    DJ Hussey  BB McCullum
     54       335982       1    15     3  BB McCullum    DJ Hussey
     55       335982       1    15     4  BB McCullum    DJ Hussey
     56       335982       1    15     5  BB McCullum    DJ Hussey
...              ...     ...   ...   ...          ...          ...
19   193381  1237181       1    19     2     AR Patel      SS Iyer
     193382  1237181       1    19     3      SS Iyer     K Rabada
     193383  1237181       1    19     4      SS Iyer     K Rabada
     193384  1237181       1    19     5      SS Iyer     K Rabada
     193385  1237181       1    19     6      SS Iyer     K Rabada

                      bowler  batsman_runs  extra_runs  total_runs  \
over
15   52            AA Noffke             0           0           0
     53            AA Noffke             1           0           1
     54            AA Noffke             2           0           2
     55            AA Noffke             0           0           0
     56            AA Noffke             1           0           1
...                      ...           ...         ...         ...
19   193381  NM Coulter-Nile             0           0           0
     193382  NM Coulter-Nile             0           0           0
     193383  NM Coulter-Nile             0           0           0
     193384  NM Coulter-Nile             6           0           6
     193385  NM Coulter-Nile             1           0           1

             non_boundary  is_wicket dismissal_kind player_dismissed  \
over
15   52                 0          0            NaN              NaN
     53                 0          0            NaN              NaN
     54                 0          0            NaN              NaN
     55                 0          0            NaN              NaN
     56                 0          0            NaN              NaN
...                   ...        ...            ...              ...
19   193381             0          1         caught         AR Patel
     193382             0          0            NaN              NaN
     193383             0          0            NaN              NaN
     193384             0          0            NaN              NaN
     193385             0          1        run out         K Rabada

                  fielder extras_type           batting_team  \
over
15   52               NaN         NaN  Kolkata Knight Riders
     53               NaN         NaN  Kolkata Knight Riders
     54               NaN         NaN  Kolkata Knight Riders
     55               NaN         NaN  Kolkata Knight Riders
     56               NaN         NaN  Kolkata Knight Riders
...                   ...         ...                    ...
19   193381  AS Roy (sub)         NaN         Delhi Capitals
     193382           NaN         NaN         Delhi Capitals
     193383           NaN         NaN         Delhi Capitals
     193384           NaN         NaN         Delhi Capitals
     193385           NaN         NaN         Delhi Capitals

                            bowling_team
over
15   52      Royal Challengers Bangalore
     53      Royal Challengers Bangalore
     54      Royal Challengers Bangalore
     55      Royal Challengers Bangalore
     56      Royal Challengers Bangalore
...                                  ...
19   193381               Mumbai Indians
     193382               Mumbai Indians
     193383               Mumbai Indians
     193384               Mumbai Indians
     193385               Mumbai Indians

[43779 rows x 18 columns]

Total runs in the last 15 overs

In [110]:
depthoveranalysis.groupby("over")["total_runs"].sum()

over
15    13449
16    13989
17    14307
18    13804
19    12887
Name: total_runs, dtype: int64

Total wickets in the last 15 overs

In [112]:
depthoveranalysis.groupby("over")["is_wicket"].sum()

over
15    544
16    572
17    733
18    750
19    954
Name: is_wicket, dtype: int64

In [113]:
depthoveranalysis.groupby(["inning", "over"]).agg({"batsman_runs":"sum", "is_wicket":"sum"})

             batsman_runs  is_wicket
inning over
1      15            6753        272
       16            7190        304
       17            7518        410
       18            7918        408
       19            8308        642
2      15            6111        272
       16            6132        268
       17            6086        323
       18            5164        342
       19            3833        312

Thus, we can conclude that runs towards the last overs in the first innings are greater, and so the batting team tries to increase the target as much as possible.
But in the second innings it's less because either the target is already reached and game is over, or all batsmen are out.
In the first innings, the bowling team tries to get as many wickets as possible, but in the second innings the wickets are less because the target has been reached or most batsmen have been out in the previous overs. 
This tells us that during the last overs of the first innings, the batsmen try to hit boundries, thus making more runs, but also in the process getting out.

# QUESTION 12

First, we have to merge both the csv files

In [115]:
pd.set_option("display.max_columns", None)
merged_file = deliveries.merge(matches, left_on="id", right_on="id")

In [116]:
merged_file

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

Information about only MI as the bowling team

In [117]:
merged_file.loc[(merged_file["bowling_team"]=="Mumbai Indians")]

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
773,335985,2,0,1,S Chanderpaul,R Dravid,A Nehra,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
774,335985,2,0,2,S Chanderpaul,R Dravid,A Nehra,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
775,335985,2,0,3,R Dravid,S Chanderpaul,A Nehra,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
776,335985,2,0,4,R Dravid,S Chanderpaul,A Nehra,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
777,335985,2,0,5,S Chanderpaul,R Dravid,A Nehra,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

Information about only MI as the bowling team AND middle overs

In [118]:
merged_file.loc[(merged_file["bowling_team"]=="Mumbai Indians") & (merged_file.over>5) & (merged_file.over<15)]

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
849,335985,2,12,3,V Kohli,JH Kallis,AM Nayar,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
850,335985,2,12,4,V Kohli,JH Kallis,AM Nayar,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
851,335985,2,12,5,V Kohli,JH Kallis,AM Nayar,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
852,335985,2,12,6,JH Kallis,V Kohli,AM Nayar,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
853,335985,2,13,1,JH Kallis,V Kohli,A Nehra,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

Information about only MI as the bowling team AND middle overs IN 2019

In [119]:
merged=merged_file.loc[(merged_file["bowling_team"]=="Mumbai Indians") & (merged_file.over>5) & (merged_file.over<15) & (merged_file.date>"2019-01-01") & (merged_file.date<"2019-12-31")]
merged

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
165282,1175358,1,6,6,S Dhawan,CA Ingram,Rasikh Salam,2,0,2,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Mumbai,2019-03-24,RR Pant,Wankhede Stadium,0,Mumbai Indians,Delhi Capitals,Mumbai Indians,field,Delhi Capitals,runs,37.0,N,NaN,YC Barde,S Ravi
165283,1175358,1,7,1,CA Ingram,S Dhawan,HH Pandya,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Mumbai,2019-03-24,RR Pant,Wankhede Stadium,0,Mumbai Indians,Delhi Capitals,Mumbai Indians,field,Delhi Capitals,runs,37.0,N,NaN,YC Barde,S Ravi
165284,1175358,1,7,2,CA Ingram,S Dhawan,HH Pandya,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Mumbai,2019-03-24,RR Pant,Wankhede Stadium,0,Mumbai Indians,Delhi Capitals,Mumbai Indians,field,Delhi Capitals,runs,37.0,N,NaN,YC Barde,S Ravi
165285,1175358,1,7,3,CA Ingram,S Dhawan,HH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Mumbai,2019-03-24,RR Pant,Wankhede Stadium,0,Mumbai Indians,Delhi Capitals,Mumbai Indians,field,Delhi Capitals,runs,37.0,N,NaN,YC Barde,S Ravi
165286,1175358,1,7,4,S Dhawan,CA Ingram,HH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Mumbai,2019-03-24,RR Pant,Wankhede Stadium,0,Mumbai Indians,Delhi Capitals,Mumbai Indians,field,Delhi Capitals,runs,37.0,N,NaN,YC Barde,S Ravi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178923,1181768,2,8,5,SR Watson,SK Raina,MJ McClenaghan,2,0,2,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Hyderabad,2019-05-12,JJ Bumrah,"Rajiv Gandhi International Stadium, Uppal",0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1.0,N,NaN,IJ Gould,Nitin Menon
178924,1181768,2,8,6,SR Watson,SK Raina,MJ McClenaghan,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Hyderabad,2019-05-12,JJ Bumrah,"Rajiv Gandhi International Stadium, Uppal",0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1.0,N,NaN,IJ Gould,Nitin Menon
178925,1181768,2,8,7,SR Watson,SK Raina,MJ McClenaghan,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Hyderabad,2019-05-12,JJ Bumrah,"Rajiv Gandhi International Stadium, Uppal",0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1.0,N,NaN,IJ Gould,Nitin Menon
178953,1181768,2,14,5,DJ Bravo,SR Watson,MJ McClenaghan,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Hyderabad,2019-05-12,JJ Bumrah,"Rajiv Gandhi International Stadium, Uppal",0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1.0,N,NaN,IJ Gould,Nitin Menon
178954,1181768,2,14,6,DJ Bravo,SR Watson,MJ McClenaghan,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Hyderabad,2019-05-12,JJ Bumrah,"Rajiv Gandhi International Stadium, Uppal",0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1.0,N,NaN,IJ Gould,Nitin Menon

Grouping by bowlers

In [120]:
merged.groupby("bowler").apply(lambda a: a[:])

                        id  inning  over  ball    batsman non_striker  \
bowler
AS Joseph  169262  1178394       2     6     1  MK Pandey   V Shankar
           169263  1178394       2     6     2  MK Pandey   V Shankar
           169264  1178394       2     6     3  V Shankar   MK Pandey
           169265  1178394       2     6     4  V Shankar   MK Pandey
           169266  1178394       2     6     5  V Shankar   MK Pandey
...                    ...     ...   ...   ...        ...         ...
SL Malinga 178080  1181764       1    10     4  AT Rayudu     M Vijay
           178081  1181764       1    10     5  AT Rayudu     M Vijay
           178082  1181764       1    10     6  AT Rayudu     M Vijay
           178083  1181764       1    10     7    M Vijay   AT Rayudu
           178084  1181764       1    10     8  AT Rayudu     M Vijay

                       bowler  batsman_runs  extra_runs  total_runs  \
bowler
AS Joseph  169262   AS Joseph             2           0           2
           169263   AS Joseph             1           0           1
           169264   AS Joseph             0           0           0
           169265   AS Joseph             0           0           0
           169266   AS Joseph             0           0           0
...                       ...           ...         ...         ...
SL Malinga 178080  SL Malinga             0           1           1
           178081  SL Malinga             4           0           4
           178082  SL Malinga             1           0           1
           178083  SL Malinga             1           0           1
           178084  SL Malinga             1           0           1

                   non_boundary  is_wicket dismissal_kind player_dismissed  \
bowler
AS Joseph  169262             0          0            NaN              NaN
           169263             0          0            NaN              NaN
           169264             0          0            NaN              NaN
           169265             0          0            NaN              NaN
           169266             0          1         caught        V Shankar
...                         ...        ...            ...              ...
SL Malinga 178080             0          0            NaN              NaN
           178081             0          0            NaN              NaN
           178082             0          0            NaN              NaN
           178083             0          0            NaN              NaN
           178084             0          0            NaN              NaN

                     fielder extras_type         batting_team    bowling_team  \
bowler
AS Joseph  169262        NaN         NaN  Sunrisers Hyderabad  Mumbai Indians
           169263        NaN         NaN  Sunrisers Hyderabad  Mumbai Indians
           169264        NaN         NaN  Sunrisers Hyderabad  Mumbai Indians
           169265        NaN         NaN  Sunrisers Hyderabad  Mumbai Indians
           169266  HH Pandya         NaN  Sunrisers Hyderabad  Mumbai Indians
...                      ...         ...                  ...             ...
SL Malinga 178080        NaN     noballs  Chennai Super Kings  Mumbai Indians
           178081        NaN         NaN  Chennai Super Kings  Mumbai Indians
           178082        NaN         NaN  Chennai Super Kings  Mumbai Indians
           178083        NaN         NaN  Chennai Super Kings  Mumbai Indians
           178084        NaN         NaN  Chennai Super Kings  Mumbai Indians

                        city        date player_of_match  \
bowler
AS Joseph  169262  Hyderabad  2019-04-06       AS Joseph
           169263  Hyderabad  2019-04-06       AS Joseph
           169264  Hyderabad  2019-04-06       AS Joseph
           169265  Hyderabad  2019-04-06       AS Joseph
           169266  Hyderabad  2019-04-06       AS Joseph
...                      ...         ...             ...
SL Malinga 178080    Chennai  2019-05-07        SA Yadav
           178081    Chennai  2019-05-07        SA Yadav
           178082    Chennai  2019-05-07        SA Yadav
           178083    Chennai  2019-05-07        SA Yadav
           178084    Chennai  2019-05-07        SA Yadav

                                                       venue  neutral_venue  \
bowler
AS Joseph  169262  Rajiv Gandhi International Stadium, Uppal              0
           169263  Rajiv Gandhi International Stadium, Uppal              0
           169264  Rajiv Gandhi International Stadium, Uppal              0
           169265  Rajiv Gandhi International Stadium, Uppal              0
           169266  Rajiv Gandhi International Stadium, Uppal              0
...                                                      ...            ...
SL Malinga 178080            MA Chidambaram Stadium, Chepauk              0
           178081            MA Chidambaram Stadium, Chepauk              0
           178082            MA Chidambaram Stadium, Chepauk              0
           178083            MA Chidambaram Stadium, Chepauk              0
           178084            MA Chidambaram Stadium, Chepauk              0

                                 team1                team2  \
bowler
AS Joseph  169262  Sunrisers Hyderabad       Mumbai Indians
           169263  Sunrisers Hyderabad       Mumbai Indians
           169264  Sunrisers Hyderabad       Mumbai Indians
           169265  Sunrisers Hyderabad       Mumbai Indians
           169266  Sunrisers Hyderabad       Mumbai Indians
...                                ...                  ...
SL Malinga 178080       Mumbai Indians  Chennai Super Kings
           178081       Mumbai Indians  Chennai Super Kings
           178082       Mumbai Indians  Chennai Super Kings
           178083       Mumbai Indians  Chennai Super Kings
           178084       Mumbai Indians  Chennai Super Kings

                           toss_winner toss_decision          winner   result  \
bowler
AS Joseph  169262  Sunrisers Hyderabad         field  Mumbai Indians     runs
           169263  Sunrisers Hyderabad         field  Mumbai Indians     runs
           169264  Sunrisers Hyderabad         field  Mumbai Indians     runs
           169265  Sunrisers Hyderabad         field  Mumbai Indians     runs
           169266  Sunrisers Hyderabad         field  Mumbai Indians     runs
...                                ...           ...             ...      ...
SL Malinga 178080  Chennai Super Kings           bat  Mumbai Indians  wickets
           178081  Chennai Super Kings           bat  Mumbai Indians  wickets
           178082  Chennai Super Kings           bat  Mumbai Indians  wickets
           178083  Chennai Super Kings           bat  Mumbai Indians  wickets
           178084  Chennai Super Kings           bat  Mumbai Indians  wickets

                   result_margin eliminator method      umpire1      umpire2
bowler
AS Joseph  169262           40.0          N    NaN  AY Dandekar  Nitin Menon
           169263           40.0          N    NaN  AY Dandekar  Nitin Menon
           169264           40.0          N    NaN  AY Dandekar  Nitin Menon
           169265           40.0          N    NaN  AY Dandekar  Nitin Menon
           169266           40.0          N    NaN  AY Dandekar  Nitin Menon
...                          ...        ...    ...          ...          ...
SL Malinga 178080            6.0          N    NaN     NJ Llong  Nitin Menon
           178081            6.0          N    NaN     NJ Llong  Nitin Menon
           178082            6.0          N    NaN     NJ Llong  Nitin Menon
           178083            6.0          N    NaN     NJ Llong  Nitin Menon
           178084            6.0          N    NaN     NJ Llong  Nitin Menon

[900 rows x 34 columns]

In [124]:
merged1 = merged.groupby(["bowler"]).agg({"batsman_runs":"sum", "total_runs":"sum", "is_wicket":"sum", "over":"count"})
merged1

                batsman_runs  total_runs  is_wicket  over
bowler
AS Joseph                 44          45          1    19
AS Roy                     8          11          1    15
BB Sran                   13          13          0     6
BCJ Cutting               27          27          1    12
HH Pandya                187         206          8   169
J Yadav                   28          28          0    24
JJ Bumrah                 70          73          4    79
JP Behrendorff            26          28          2    31
KH Pandya                205         213          7   186
M Markande                58          59          1    37
MJ McClenaghan            34          36          0    38
RD Chahar                251         255         10   238
Rasikh Salam               4           4          0     6
SL Malinga                64          68          2    40

Calculating economy rate and adding the column

In [125]:
merged1["economy_rate"] = (merged1["total_runs"] / merged1["over"])
merged1

                batsman_runs  total_runs  is_wicket  over  economy_rate
bowler
AS Joseph                 44          45          1    19      2.368421
AS Roy                     8          11          1    15      0.733333
BB Sran                   13          13          0     6      2.166667
BCJ Cutting               27          27          1    12      2.250000
HH Pandya                187         206          8   169      1.218935
J Yadav                   28          28          0    24      1.166667
JJ Bumrah                 70          73          4    79      0.924051
JP Behrendorff            26          28          2    31      0.903226
KH Pandya                205         213          7   186      1.145161
M Markande                58          59          1    37      1.594595
MJ McClenaghan            34          36          0    38      0.947368
RD Chahar                251         255         10   238      1.071429
Rasikh Salam               4           4          0     6      0.666667
SL Malinga                64          68          2    40      1.700000

Player with the least economy rate (most economical bowler) for MI in middle overs in 2019

In [126]:
merged1.filter(items=["bowler", "economy_rate"])[merged1.economy_rate == merged1.economy_rate.min()]

              economy_rate
bowler
Rasikh Salam      0.666667

# QUESTION 13

Information about only 2020 matches

In [127]:
extras = merged_file.loc[(merged_file.date>"2020-01-01") & (merged_file.date<"2020-12-31")]
extras

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
178958,1216492,2,6,5,AT Rayudu,F du Plessis,KH Pandya,2,0,2,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178959,1216492,2,6,6,AT Rayudu,F du Plessis,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178960,1216492,2,7,1,AT Rayudu,F du Plessis,RD Chahar,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178961,1216492,2,6,4,AT Rayudu,F du Plessis,KH Pandya,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178962,1216492,2,7,3,AT Rayudu,F du Plessis,RD Chahar,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

Groupby bowler

In [128]:
extras.groupby("bowler").apply(lambda a: a[:])

                       id  inning  over  ball        batsman    non_striker  \
bowler
A Mishra  184571  1216515       2     6     1   Shubman Gill         N Rana
          184572  1216515       2     6     2   Shubman Gill         N Rana
          184573  1216515       2     6     3         N Rana   Shubman Gill
          184574  1216515       2     6     4         N Rana   Shubman Gill
          184575  1216515       2     6     5         N Rana   Shubman Gill
...                   ...     ...   ...   ...            ...            ...
YS Chahal 192964  1237178       2    11     2        PK Garg  KS Williamson
          192965  1237178       2    11     3  KS Williamson        PK Garg
          192966  1237178       2    11     4        PK Garg  KS Williamson
          192967  1237178       2    11     5        PK Garg  KS Williamson
          192968  1237178       2    11     6  KS Williamson      JO Holder

                     bowler  batsman_runs  extra_runs  total_runs  \
bowler
A Mishra  184571   A Mishra             0           0           0
          184572   A Mishra             1           0           1
          184573   A Mishra             0           0           0
          184574   A Mishra             0           0           0
          184575   A Mishra             0           0           0
...                     ...           ...         ...         ...
YS Chahal 192964  YS Chahal             1           0           1
          192965  YS Chahal             1           0           1
          192966  YS Chahal             0           0           0
          192967  YS Chahal             0           0           0
          192968  YS Chahal             1           0           1

                  non_boundary  is_wicket dismissal_kind player_dismissed  \
bowler
A Mishra  184571             0          0            NaN              NaN
          184572             0          0            NaN              NaN
          184573             0          0            NaN              NaN
          184574             0          0            NaN              NaN
          184575             0          0            NaN              NaN
...                        ...        ...            ...              ...
YS Chahal 192964             0          0            NaN              NaN
          192965             0          0            NaN              NaN
          192966             0          0            NaN              NaN
          192967             0          1         caught          PK Garg
          192968             0          0            NaN              NaN

                  fielder extras_type           batting_team  \
bowler
A Mishra  184571      NaN         NaN  Kolkata Knight Riders
          184572      NaN         NaN  Kolkata Knight Riders
          184573      NaN         NaN  Kolkata Knight Riders
          184574      NaN         NaN  Kolkata Knight Riders
          184575      NaN         NaN  Kolkata Knight Riders
...                   ...         ...                    ...
YS Chahal 192964      NaN         NaN    Sunrisers Hyderabad
          192965      NaN         NaN    Sunrisers Hyderabad
          192966      NaN         NaN    Sunrisers Hyderabad
          192967  A Zampa         NaN    Sunrisers Hyderabad
          192968      NaN         NaN    Sunrisers Hyderabad

                                 bowling_team       city        date  \
bowler
A Mishra  184571               Delhi Capitals    Sharjah  2020-10-03
          184572               Delhi Capitals    Sharjah  2020-10-03
          184573               Delhi Capitals    Sharjah  2020-10-03
          184574               Delhi Capitals    Sharjah  2020-10-03
          184575               Delhi Capitals    Sharjah  2020-10-03
...                                       ...        ...         ...
YS Chahal 192964  Royal Challengers Bangalore  Abu Dhabi  2020-11-06
          192965  Royal Challengers Bangalore  Abu Dhabi  2020-11-06
          192966  Royal Challengers Bangalore  Abu Dhabi  2020-11-06
          192967  Royal Challengers Bangalore  Abu Dhabi  2020-11-06
          192968  Royal Challengers Bangalore  Abu Dhabi  2020-11-06

                 player_of_match                    venue  neutral_venue  \
bowler
A Mishra  184571         SS Iyer  Sharjah Cricket Stadium              0
          184572         SS Iyer  Sharjah Cricket Stadium              0
          184573         SS Iyer  Sharjah Cricket Stadium              0
          184574         SS Iyer  Sharjah Cricket Stadium              0
          184575         SS Iyer  Sharjah Cricket Stadium              0
...                          ...                      ...            ...
YS Chahal 192964   KS Williamson     Sheikh Zayed Stadium              0
          192965   KS Williamson     Sheikh Zayed Stadium              0
          192966   KS Williamson     Sheikh Zayed Stadium              0
          192967   KS Williamson     Sheikh Zayed Stadium              0
          192968   KS Williamson     Sheikh Zayed Stadium              0

                                        team1                  team2  \
bowler
A Mishra  184571               Delhi Capitals  Kolkata Knight Riders
          184572               Delhi Capitals  Kolkata Knight Riders
          184573               Delhi Capitals  Kolkata Knight Riders
          184574               Delhi Capitals  Kolkata Knight Riders
          184575               Delhi Capitals  Kolkata Knight Riders
...                                       ...                    ...
YS Chahal 192964  Royal Challengers Bangalore    Sunrisers Hyderabad
          192965  Royal Challengers Bangalore    Sunrisers Hyderabad
          192966  Royal Challengers Bangalore    Sunrisers Hyderabad
          192967  Royal Challengers Bangalore    Sunrisers Hyderabad
          192968  Royal Challengers Bangalore    Sunrisers Hyderabad

                            toss_winner toss_decision               winner  \
bowler
A Mishra  184571  Kolkata Knight Riders         field       Delhi Capitals
          184572  Kolkata Knight Riders         field       Delhi Capitals
          184573  Kolkata Knight Riders         field       Delhi Capitals
          184574  Kolkata Knight Riders         field       Delhi Capitals
          184575  Kolkata Knight Riders         field       Delhi Capitals
...                                 ...           ...                  ...
YS Chahal 192964    Sunrisers Hyderabad         field  Sunrisers Hyderabad
          192965    Sunrisers Hyderabad         field  Sunrisers Hyderabad
          192966    Sunrisers Hyderabad         field  Sunrisers Hyderabad
          192967    Sunrisers Hyderabad         field  Sunrisers Hyderabad
          192968    Sunrisers Hyderabad         field  Sunrisers Hyderabad

                   result  result_margin eliminator method      umpire1  \
bowler
A Mishra  184571     runs           18.0          N    NaN  VA Kulkarni
          184572     runs           18.0          N    NaN  VA Kulkarni
          184573     runs           18.0          N    NaN  VA Kulkarni
          184574     runs           18.0          N    NaN  VA Kulkarni
          184575     runs           18.0          N    NaN  VA Kulkarni
...                   ...            ...        ...    ...          ...
YS Chahal 192964  wickets            6.0          N    NaN   PR Reiffel
          192965  wickets            6.0          N    NaN   PR Reiffel
          192966  wickets            6.0          N    NaN   PR Reiffel
          192967  wickets            6.0          N    NaN   PR Reiffel
          192968  wickets            6.0          N    NaN   PR Reiffel

                         umpire2
bowler
A Mishra  184571  RK Illingworth
          184572  RK Illingworth
          184573  RK Illingworth
          184574  RK Illingworth
          184575  RK Illingworth
...                          ...
YS Chahal 192964          S Ravi
          192965          S Ravi
          192966          S Ravi
          192967          S Ravi
          192968          S Ravi

[14510 rows x 34 columns]

Addition of the extra_runs

In [129]:
extra1 = extras.groupby("bowler").sum()
extra1

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,neutral_venue,result_margin
bowler,,,,,,,,,,,
A Mishra,74208399,98,542,217,71,1,72,0,3,0,1650.0
A Nortje,458733111,605,3772,1346,502,27,529,0,23,0,11126.0
A Zampa,82023830,116,676,238,91,1,92,0,2,0,294.0
AD Russell,138683641,151,1460,421,168,10,178,0,7,0,3623.0
AJ Tye,32845500,27,341,106,47,7,54,0,2,0,1242.0
...,...,...,...,...,...,...,...,...,...,...,...
UT Yadav,55960084,72,242,177,79,7,86,0,1,0,2200.0
V Shankar,102187390,115,789,317,77,5,82,0,4,0,1322.0
VR Aaron,65692433,54,215,213,87,9,96,0,0,0,1521.0
Washington Sundar,367657651,502,2122,1064,296,4,300,0,9,0,6605.0
YS Chahal,423844948,579,3582,1234,397,17,414,0,22,0,7943.0

Maximum of extra_runs

In [130]:
extras.groupby("bowler").sum().extra_runs.max()

33

Bowlers who gave most extra runs in 2020

In [131]:
extra1.filter(items=["bowler", "extra_runs"])[extra1.extra_runs == extra1.extra_runs.max()]

                extra_runs
bowler
K Rabada                33
Mohammed Shami          33

# QUESTION 13

Grouping the merged file by Venues

In [132]:
merged_file.groupby("venue").apply(lambda a: a[:])

                              id  inning  over  ball    batsman non_striker  \
venue
Barabati Stadium 29728    419117       2     0     3  RS Bopara    MS Bisla
                 29729    419117       2     0     4   MS Bisla   RS Bopara
                 29730    419117       2     0     5   MS Bisla   RS Bopara
                 29731    419117       2     1     1  RS Bopara    MS Bisla
                 29732    419117       2     1     2  RS Bopara    MS Bisla
...                          ...     ...   ...   ...        ...         ...
Wankhede Stadium 177978  1178431       2    11     5  RG Sharma    SA Yadav
                 177979  1178431       2    11     6   SA Yadav   RG Sharma
                 177980  1178431       2    12     1  RG Sharma    SA Yadav
                 177981  1178431       2    11     3   SA Yadav   RG Sharma
                 177982  1178431       2    11     4   SA Yadav   RG Sharma

                                    bowler  batsman_runs  extra_runs  \
venue
Barabati Stadium 29728          WPUJC Vaas             0           1
                 29729          WPUJC Vaas             0           0
                 29730          WPUJC Vaas             0           0
                 29731            RP Singh             0           0
                 29732            RP Singh             1           0
...                                    ...           ...         ...
Wankhede Stadium 177978          HF Gurney             1           0
                 177979          HF Gurney             0           0
                 177980  S Sandeep Warrier             0           0
                 177981          HF Gurney             0           0
                 177982          HF Gurney             1           0

                         total_runs  non_boundary  is_wicket dismissal_kind  \
venue
Barabati Stadium 29728            1             0          0            NaN
                 29729            0             0          0            NaN
                 29730            0             0          0            NaN
                 29731            0             0          0            NaN
                 29732            1             0          0            NaN
...                             ...           ...        ...            ...
Wankhede Stadium 177978           1             0          0            NaN
                 177979           0             0          0            NaN
                 177980           0             0          0            NaN
                 177981           0             0          0            NaN
                 177982           1             0          0            NaN

                        player_dismissed fielder extras_type     batting_team  \
venue
Barabati Stadium 29728               NaN     NaN     legbyes  Kings XI Punjab
                 29729               NaN     NaN         NaN  Kings XI Punjab
                 29730               NaN     NaN         NaN  Kings XI Punjab
                 29731               NaN     NaN         NaN  Kings XI Punjab
                 29732               NaN     NaN         NaN  Kings XI Punjab
...                                  ...     ...         ...              ...
Wankhede Stadium 177978              NaN     NaN         NaN   Mumbai Indians
                 177979              NaN     NaN         NaN   Mumbai Indians
                 177980              NaN     NaN         NaN   Mumbai Indians
                 177981              NaN     NaN         NaN   Mumbai Indians
                 177982              NaN     NaN         NaN   Mumbai Indians

                                  bowling_team     city        date  \
venue
Barabati Stadium 29728         Deccan Chargers  Cuttack  2010-03-19
                 29729         Deccan Chargers  Cuttack  2010-03-19
                 29730         Deccan Chargers  Cuttack  2010-03-19
                 29731         Deccan Chargers  Cuttack  2010-03-19
                 29732         Deccan Chargers  Cuttack  2010-03-19
...                                        ...      ...         ...
Wankhede Stadium 177978  Kolkata Knight Riders   Mumbai  2019-05-05
                 177979  Kolkata Knight Riders   Mumbai  2019-05-05
                 177980  Kolkata Knight Riders   Mumbai  2019-05-05
                 177981  Kolkata Knight Riders   Mumbai  2019-05-05
                 177982  Kolkata Knight Riders   Mumbai  2019-05-05

                        player_of_match             venue  neutral_venue  \
venue
Barabati Stadium 29728        A Symonds  Barabati Stadium              0
                 29729        A Symonds  Barabati Stadium              0
                 29730        A Symonds  Barabati Stadium              0
                 29731        A Symonds  Barabati Stadium              0
                 29732        A Symonds  Barabati Stadium              0
...                                 ...               ...            ...
Wankhede Stadium 177978       HH Pandya  Wankhede Stadium              0
                 177979       HH Pandya  Wankhede Stadium              0
                 177980       HH Pandya  Wankhede Stadium              0
                 177981       HH Pandya  Wankhede Stadium              0
                 177982       HH Pandya  Wankhede Stadium              0

                                   team1                  team2  \
venue
Barabati Stadium 29728   Deccan Chargers        Kings XI Punjab
                 29729   Deccan Chargers        Kings XI Punjab
                 29730   Deccan Chargers        Kings XI Punjab
                 29731   Deccan Chargers        Kings XI Punjab
                 29732   Deccan Chargers        Kings XI Punjab
...                                  ...                    ...
Wankhede Stadium 177978   Mumbai Indians  Kolkata Knight Riders
                 177979   Mumbai Indians  Kolkata Knight Riders
                 177980   Mumbai Indians  Kolkata Knight Riders
                 177981   Mumbai Indians  Kolkata Knight Riders
                 177982   Mumbai Indians  Kolkata Knight Riders

                             toss_winner toss_decision           winner  \
venue
Barabati Stadium 29728   Kings XI Punjab         field  Deccan Chargers
                 29729   Kings XI Punjab         field  Deccan Chargers
                 29730   Kings XI Punjab         field  Deccan Chargers
                 29731   Kings XI Punjab         field  Deccan Chargers
                 29732   Kings XI Punjab         field  Deccan Chargers
...                                  ...           ...              ...
Wankhede Stadium 177978   Mumbai Indians         field   Mumbai Indians
                 177979   Mumbai Indians         field   Mumbai Indians
                 177980   Mumbai Indians         field   Mumbai Indians
                 177981   Mumbai Indians         field   Mumbai Indians
                 177982   Mumbai Indians         field   Mumbai Indians

                          result  result_margin eliminator method  \
venue
Barabati Stadium 29728      runs            6.0          N    NaN
                 29729      runs            6.0          N    NaN
                 29730      runs            6.0          N    NaN
                 29731      runs            6.0          N    NaN
                 29732      runs            6.0          N    NaN
...                          ...            ...        ...    ...
Wankhede Stadium 177978  wickets            9.0          N    NaN
                 177979  wickets            9.0          N    NaN
                 177980  wickets            9.0          N    NaN
                 177981  wickets            9.0          N    NaN
                 177982  wickets            9.0          N    NaN

                                umpire1    umpire2
venue
Barabati Stadium 29728        BF Bowden  M Erasmus
                 29729        BF Bowden  M Erasmus
                 29730        BF Bowden  M Erasmus
                 29731        BF Bowden  M Erasmus
                 29732        BF Bowden  M Erasmus
...                                 ...        ...
Wankhede Stadium 177978  A Nand Kishore  CK Nandan
                 177979  A Nand Kishore  CK Nandan
                 177980  A Nand Kishore  CK Nandan
                 177981  A Nand Kishore  CK Nandan
                 177982  A Nand Kishore  CK Nandan

[193468 rows x 34 columns]

Filtering the merged file with only the required columns

In [136]:
mergg=merged_file.filter(items=["venue", "total_runs", "is_wicket"])
mergg

                                      venue  total_runs  is_wicket
0                     M Chinnaswamy Stadium           1          0
1                     M Chinnaswamy Stadium           1          0
2                     M Chinnaswamy Stadium           0          0
3                     M Chinnaswamy Stadium           1          0
4                     M Chinnaswamy Stadium           1          0
...                                     ...         ...        ...
193463  Dubai International Cricket Stadium           0          0
193464  Dubai International Cricket Stadium           1          0
193465  Dubai International Cricket Stadium           1          0
193466  Dubai International Cricket Stadium           1          0
193467  Dubai International Cricket Stadium           1          0

[193468 rows x 3 columns]

Adding all the values of the two required columns

In [137]:
mergg1=mergg.groupby("venue").sum()
mergg1

                                                    total_runs  is_wicket
venue
Barabati Stadium                                          2278         80
Brabourne Stadium                                         3842        127
Buffalo Park                                               799         38
De Beers Diamond Oval                                      897         39
Dr DY Patil Sports Academy                                4810        216
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...        3746        163
Dubai International Cricket Stadium                      10402        385
Eden Gardens                                             23658        878
Feroz Shah Kotla                                         22947        866
Green Park                                                1298         49
Himachal Pradesh Cricket Association Stadium              2897        104
Holkar Cricket Stadium                                    2872         92
JSCA International Stadium Complex                        2056         81
Kingsmead                                                 4353        201
M Chinnaswamy Stadium                                    20237        741
M.Chinnaswamy Stadium                                     5127        179
MA Chidambaram Stadium, Chepauk                          17821        663
Maharashtra Cricket Association Stadium                   6780        241
Nehru Stadium                                             1363         62
New Wanderers Stadium                                     2292         92
Newlands                                                  1764         92
OUTsurance Oval                                            529         25
Punjab Cricket Association IS Bindra Stadium, M...        7021        219
Punjab Cricket Association Stadium, Mohali               10987        411
Rajiv Gandhi International Stadium, Uppal                19484        755
Sardar Patel Stadium, Motera                              3746        141
Saurashtra Cricket Association Stadium                    3316        107
Sawai Mansingh Stadium                                   14264        518
Shaheed Veer Narayan Singh International Stadium          1741         60
Sharjah Cricket Stadium                                   5924        194
Sheikh Zayed Stadium                                      8830        325
St George's Park                                          2033         77
Subrata Roy Sahara Stadium                                4755        201
SuperSport Park                                           3653        133
Vidarbha Cricket Association Stadium, Jamtha               882         48
Wankhede Stadium                                         23390        892

Adding the "average_score" column

In [139]:
mergg1["average_score"]=(mergg1["total_runs"]/mergg1["is_wicket"])
mergg1

,total_runs,is_wicket,average_score
venue,,,
Barabati Stadium,2278,80,28.475000
Brabourne Stadium,3842,127,30.251969
Buffalo Park,799,38,21.026316
De Beers Diamond Oval,897,39,23.000000
Dr DY Patil Sports Academy,4810,216,22.268519
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,3746,163,22.981595
Dubai International Cricket Stadium,10402,385,27.018182
Eden Gardens,23658,878,26.945330
Feroz Shah Kotla,22947,866,26.497691
Green Park,1298,49,26.489796
Himachal Pradesh Cricket Association Stadium,2897,104,27.855769
Holkar Cricket Stadium,2872,92,31.217391
JSCA International Stadium Complex,2056,81,25.382716
Kingsmead,4353,201,21.656716
M Chinnaswamy Stadium,20237,741,27.310391
M.Chinnaswamy Stadium,5127,179,28.642458
"MA Chidambaram Stadium, Chepauk",17821,663,26.879336
Maharashtra Cricket Association Stadium,6780,241,28.132780
Nehru Stadium,1363,62,21.983871
New Wanderers Stadium,2292,92,24.913043
Newlands,1764,92,19.173913
OUTsurance Oval,529,25,21.160000
"Punjab Cricket Association IS Bindra Stadium, Mohali",7021,219,32.059361
"Punjab Cricket Association Stadium, Mohali",10987,411,26.732360
"Rajiv Gandhi International Stadium, Uppal",19484,755,25.806623
"Sardar Patel Stadium, Motera",3746,141,26.567376
Saurashtra Cricket Association Stadium,3316,107,30.990654
Sawai Mansingh Stadium,14264,518,27.536680
Shaheed Veer Narayan Singh International Stadium,1741,60,29.016667
Sharjah Cricket Stadium,5924,194,30.536082
Sheikh Zayed Stadium,8830,325,27.169231
St George's Park,2033,77,26.402597
Subrata Roy Sahara Stadium,4755,201,23.656716
SuperSport Park,3653,133,27.466165
"Vidarbha Cricket Association Stadium, Jamtha",882,48,18.375000
Wankhede Stadium,23390,892,26.221973

Finding the least average score

In [140]:
mergg1[mergg1.average_score == mergg1.average_score.min()]

,total_runs,is_wicket,average_score
venue,,,
"Vidarbha Cricket Association Stadium, Jamtha",882,48,18.375

# QUESTION 14

Matches in which Sachin and Jayasuriya have palayed together

In [143]:
schjay=deliveries.loc[((deliveries["batsman"] == "SR Tendulkar") & (deliveries["non_striker"] == "ST Jayasuriya")) | ((deliveries["non_striker"] == "SR Tendulkar") & (deliveries["batsman"] == "ST Jayasuriya"))]
schjay

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
7047,336012,2,9,5,SR Tendulkar,ST Jayasuriya,B Akhil,4,0,4,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
7048,336012,2,9,6,SR Tendulkar,ST Jayasuriya,B Akhil,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
7049,336012,2,10,1,ST Jayasuriya,SR Tendulkar,A Kumble,6,0,6,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
7050,336012,2,10,2,ST Jayasuriya,SR Tendulkar,A Kumble,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
7051,336012,2,10,3,SR Tendulkar,ST Jayasuriya,A Kumble,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37851,419150,1,0,6,SR Tendulkar,ST Jayasuriya,YK Pathan,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Rajasthan Royals
37852,419150,1,0,7,SR Tendulkar,ST Jayasuriya,YK Pathan,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Rajasthan Royals
37853,419150,1,1,1,SR Tendulkar,ST Jayasuriya,SR Watson,0,0,0,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Rajasthan Royals
37854,419150,1,1,2,SR Tendulkar,ST Jayasuriya,SR Watson,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Rajasthan Royals
37855,419150,1,1,3,ST Jayasuriya,SR Tendulkar,SR Watson,0,0,0,0,1,caught,ST Jayasuriya,AA Jhunjhunwala,NaN,Mumbai Indians,Rajasthan Royals

Grouping by matchid

In [144]:
schjay.groupby("id").apply(lambda a: a[:])

                  id  inning  over  ball        batsman    non_striker  \
id
336012 7047   336012       2     9     5   SR Tendulkar  ST Jayasuriya
       7048   336012       2     9     6   SR Tendulkar  ST Jayasuriya
       7049   336012       2    10     1  ST Jayasuriya   SR Tendulkar
       7050   336012       2    10     2  ST Jayasuriya   SR Tendulkar
       7051   336012       2    10     3   SR Tendulkar  ST Jayasuriya
...              ...     ...   ...   ...            ...            ...
419150 37851  419150       1     0     6   SR Tendulkar  ST Jayasuriya
       37852  419150       1     0     7   SR Tendulkar  ST Jayasuriya
       37853  419150       1     1     1   SR Tendulkar  ST Jayasuriya
       37854  419150       1     1     2   SR Tendulkar  ST Jayasuriya
       37855  419150       1     1     3  ST Jayasuriya   SR Tendulkar

                 bowler  batsman_runs  extra_runs  total_runs  non_boundary  \
id
336012 7047     B Akhil             4           0           4             0
       7048     B Akhil             0           0           0             0
       7049    A Kumble             6           0           6             0
       7050    A Kumble             1           0           1             0
       7051    A Kumble             1           0           1             0
...                 ...           ...         ...         ...           ...
419150 37851  YK Pathan             0           0           0             0
       37852  YK Pathan             1           0           1             0
       37853  SR Watson             0           0           0             0
       37854  SR Watson             1           0           1             0
       37855  SR Watson             0           0           0             0

              is_wicket dismissal_kind player_dismissed          fielder  \
id
336012 7047           0            NaN              NaN              NaN
       7048           0            NaN              NaN              NaN
       7049           0            NaN              NaN              NaN
       7050           0            NaN              NaN              NaN
       7051           0            NaN              NaN              NaN
...                 ...            ...              ...              ...
419150 37851          0            NaN              NaN              NaN
       37852          0            NaN              NaN              NaN
       37853          0            NaN              NaN              NaN
       37854          0            NaN              NaN              NaN
       37855          1         caught    ST Jayasuriya  AA Jhunjhunwala

             extras_type    batting_team                 bowling_team
id
336012 7047          NaN  Mumbai Indians  Royal Challengers Bangalore
       7048          NaN  Mumbai Indians  Royal Challengers Bangalore
       7049          NaN  Mumbai Indians  Royal Challengers Bangalore
       7050          NaN  Mumbai Indians  Royal Challengers Bangalore
       7051          NaN  Mumbai Indians  Royal Challengers Bangalore
...                  ...             ...                          ...
419150 37851         NaN  Mumbai Indians             Rajasthan Royals
       37852         NaN  Mumbai Indians             Rajasthan Royals
       37853         NaN  Mumbai Indians             Rajasthan Royals
       37854         NaN  Mumbai Indians             Rajasthan Royals
       37855         NaN  Mumbai Indians             Rajasthan Royals

[583 rows x 18 columns]

Adding total runs scored by both in each match

In [148]:
schjay1=schjay.groupby("id").sum()
schjay1

,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
id,,,,,,,,
336012,148,381,273,84,12,96,0,1
336018,104,173,204,71,11,82,0,1
336021,12,0,21,5,1,6,0,1
336024,18,16,64,38,1,39,0,1
336028,40,15,83,25,11,36,0,1
336032,47,152,179,65,5,70,0,1
336036,69,335,252,65,6,71,0,1
392181,35,85,120,38,1,39,0,1
392192,22,4,38,3,1,4,0,1
392197,78,430,284,119,8,127,0,1
392200,4,0,3,0,1,1,0,1
392203,22,24,81,14,5,19,0,1
392208,22,28,76,18,3,21,0,1
392212,20,4,31,7,0,7,0,1
392218,10,3,34,4,1,5,0,1
392225,74,286,138,26,7,33,0,1
392235,3,0,6,0,2,2,0,1
419107,24,32,88,35,3,38,0,1
419114,23,30,80,34,4,38,0,1
419119,10,4,31,5,1,6,0,1
419150,10,3,34,11,1,12,0,1

To calculate total runs scored by both in all matches

In [149]:
schjay.groupby("id").sum().sum()

inning           795
over            2005
ball            2120
batsman_runs     667
extra_runs        85
total_runs       752
non_boundary       0
is_wicket         21
dtype: int64

Total runs is 752

To calculate how many matches have both played in partnership

In [150]:
schjay1.count()

inning          21
over            21
ball            21
batsman_runs    21
extra_runs      21
total_runs      21
non_boundary    21
is_wicket       21
dtype: int64

21 innings means 21 matches both have played in partnership

# QUESTION 15

2020 matches where Bumrah has bowled

In [151]:
bumrah = merged_file.loc[(merged_file["bowler"] == "JJ Bumrah") & (merged_file.date>"2020-01-01") & (merged_file.date<"2020-12-31")]
bumrah

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
178983,1216492,2,5,1,F du Plessis,AT Rayudu,JJ Bumrah,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178984,1216492,2,5,2,F du Plessis,AT Rayudu,JJ Bumrah,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178985,1216492,2,5,3,F du Plessis,AT Rayudu,JJ Bumrah,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178986,1216492,2,5,4,F du Plessis,AT Rayudu,JJ Bumrah,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
178987,1216492,2,5,5,F du Plessis,AT Rayudu,JJ Bumrah,3,0,3,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,Abu Dhabi,2020-09-19,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193447,1237181,1,10,2,SS Iyer,RR Pant,JJ Bumrah,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193448,1237181,1,10,3,RR Pant,SS Iyer,JJ Bumrah,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193449,1237181,1,10,4,SS Iyer,RR Pant,JJ Bumrah,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193450,1237181,1,10,5,SS Iyer,RR Pant,JJ Bumrah,2,0,2,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193451,1237181,1,10,6,SS Iyer,RR Pant,JJ Bumrah,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

Bumrah bowling pattern in each over

In [152]:
bumrah.groupby("over").agg({"total_runs":"sum", "is_wicket":"sum"})

      total_runs  is_wicket
over
1             22          4
3             44          2
4              1          1
5             38          0
8              4          0
10            17          1
11            39          3
12             7          1
13             4          1
14            24          0
15            28          7
16            53          2
17            59          2
18            57          3
19            23          1

Here we see that his bowling in the middle overs in the best, and worst in the depth overs. Though is tends to take most wickets during the depth overs

Bumrah bowling pattern grouped by winning teams

In [153]:
bumrah.groupby(["winner", "id"]).agg({"total_runs":"sum", "is_wicket":"sum"})

                                     total_runs  is_wicket
winner                      id
Chennai Super Kings         1216492          43          1
Kings XI Punjab             1216517          24          3
Mumbai Indians              1216499          14          3
                            1216503          19          2
                            1216508          34          2
                            1216511          20          4
                            1216521          26          2
                            1216526          22          1
                            1216529          26          0
                            1216535          17          4
                            1216538          44          2
                            1237177          14          4
                            1237181          29          0
Rajasthan Royals            1216541          40          0
Royal Challengers Bangalore 1216547          48          0

Here we see that during the matches that MI wins, Bumrah concedes less runs, than in the matches that the opposite team wins. Bumrah also takes most wickets during the matches that MI wins

Bumrah bowling pattern grouped by winning teams and every over

In [157]:
bumrah.groupby(["winner", "over", "id"]).agg({"total_runs":"sum", "is_wicket":"sum"})

                                          total_runs  is_wicket
winner                      over id
Chennai Super Kings         5    1216492          14          0
                            11   1216492           7          0
                            14   1216492          11          0
                            18   1216492          11          1
Kings XI Punjab             3    1216517           1          1
                            12   1216517           3          1
                            15   1216517          15          0
                            17   1216517           5          1
Mumbai Indians              1    1216499           5          0
                                 1216511           2          1
                                 1216521           3          2
                                 1237177           6          1
                                 1237181           6          0
                            3    1216508           1          0
                                 1216511           4          0
                                 1216521          13          0
                                 1216526           7          0
                                 1216529           1          0
                                 1237177           5          1
                            4    1216503           1          1
                            5    1216538          14          0
                            8    1216535           4          0
                            10   1216526           6          1
                                 1237181           6          0
                            11   1216499           4          1
                                 1216503           7          0
                                 1216529           6          0
                                 1216535           6          2
                                 1216538           6          0
                            12   1216508           4          0
                            13   1216535           4          1
                            15   1216503           3          1
                                 1216508           2          2
                                 1216511           2          2
                                 1216521           2          0
                                 1216526           4          0
                                 1237177           0          2
                            16   1216499           0          2
                                 1216538          14          0
                                 1237181          11          0
                            17   1216508          27          0
                                 1216511          12          1
                                 1216526           5          0
                                 1216529           7          0
                                 1237177           3          0
                            18   1216499           5          0
                                 1216521           8          0
                                 1216538          10          2
                                 1237181           6          0
                            19   1216503           8          0
                                 1216529          12          0
                                 1216535           3          1
Rajasthan Royals            3    1216541          12          0
                            10   1216541           5          0
                            14   1216541          13          0
                            16   1216541          10          0
Royal Challengers Bangalore 5    1216547          10          0
                            11   1216547           3          0
                            16   1216547          18          0
                            18   1216547          17          0

Here again we can see that Bumrah plays the best in the middle overs, and helps MI win. In the depth overs in which he concedes most runs, that match is won by the opposite team.

# QUESTION 16

CSK matches toss won, decide to bat and won match

In [185]:
csk = matches.loc[(matches["toss_winner"] == "Chennai Super Kings") & (matches["toss_decision"] == "bat") & (matches["winner"] == "Chennai Super Kings")]
csk

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
14,335996,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
62,392185,Port Elizabeth,2009-04-20,M Muralitharan,St George's Park,1,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,92.0,N,NaN,BG Jerling,SJA Taufel
84,392209,East London,2009-05-04,MS Dhoni,Buffalo Park,1,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,Chennai Super Kings,runs,78.0,N,NaN,BR Doctrove,M Erasmus
89,392214,Centurion,2009-05-07,ML Hayden,SuperSport Park,1,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,runs,12.0,N,D/L,DJ Harper,TH Wijewardene
109,392234,Durban,2009-05-20,M Muralitharan,Kingsmead,1,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,runs,24.0,N,NaN,BG Jerling,SJA Taufel
122,419113,Kolkata,2010-03-16,MS Dhoni,Eden Gardens,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,55.0,N,NaN,HDPK Dharmasena,AM Saheba
146,419137,Chennai,2010-04-03,M Vijay,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Chennai Super Kings,runs,23.0,N,NaN,RE Koertzen,RB Tiffin
151,419142,Chennai,2010-04-06,SK Raina,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,24.0,N,NaN,S Asnani,DJ Harper
172,419163,Mumbai,2010-04-22,DE Bollinger,Dr DY Patil Sports Academy,0,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,Chennai Super Kings,runs,38.0,N,NaN,BR Doctrove,RB Tiffin
174,419165,Mumbai,2010-04-25,SK Raina,Dr DY Patil Sports Academy,0,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,22.0,N,NaN,RE Koertzen,SJA Taufel
175,501198,Chennai,2011-04-08,S Anirudha,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,Chennai Super Kings,runs,2.0,N,NaN,BR Doctrove,PR Reiffel
188,501211,Chennai,2011-04-16,MEK Hussey,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,runs,21.0,N,NaN,HDPK Dharmasena,AL Hill
212,501236,Chennai,2011-05-01,JA Morkel,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,Chennai Super Kings,runs,19.0,N,NaN,Aleem Dar,RB Tiffin
229,501253,Chennai,2011-05-12,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,18.0,N,NaN,AM Saheba,SL Shastri
237,501261,Chennai,2011-05-18,WP Saha,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kochi Tuskers Kerala,Chennai Super Kings,bat,Chennai Super Kings,runs,11.0,N,NaN,HDPK Dharmasena,RE Koertzen
247,501271,Chennai,2011-05-28,M Vijay,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,runs,58.0,N,NaN,Asad Rauf,SJA Taufel
292,548352,Chennai,2012-05-04,SK Raina,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,Chennai Super Kings,runs,10.0,N,NaN,HDPK Dharmasena,BNJ Oxenford
344,598020,Delhi,2013-04-18,MEK Hussey,Feroz Shah Kotla,0,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,86.0,N,NaN,M Erasmus,VA Kulkarni
362,598038,Pune,2013-04-30,MS Dhoni,Subrata Roy Sahara Stadium,0,Pune Warriors,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,37.0,N,NaN,S Das,SJA Taufel
365,598041,Chennai,2013-05-02,SK Raina,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,runs,15.0,N,NaN,M Erasmus,VA Kulkarni
386,598062,Chennai,2013-05-14,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,C Shamshuddin,RJ Tucker
394,598070,Delhi,2013-05-21,MEK Hussey,Feroz Shah Kotla,0,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,48.0,N,NaN,NJ Llong,RJ Tucker
405,729293,Abu Dhabi,2014-04-21,SK Raina,Sheikh Zayed Stadium,1,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,93.0,N,NaN,RK Illingworth,C Shamshuddin
418,733971,Ranchi,2014-05-02,RA Jadeja,JSCA International Stadium Complex,0,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,Chennai Super Kings,runs,34.0,N,NaN,AK Chaudhary,NJ Llong
461,829711,Chennai,2015-04-11,BB McCullum,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,Chennai Super Kings,runs,45.0,N,NaN,RK Illingworth,VA Kulkarni
482,829753,Chennai,2015-04-25,BB McCullum,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,runs,97.0,N,NaN,JD Cloete,C Shamshuddin
494,829779,Chennai,2015-05-04,SK Raina,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,runs,24.0,N,NaN,C Shamshuddin,K Srinath
503,829797,Chennai,2015-05-10,RA Jadeja,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Chennai Super Kings,runs,12.0,N,NaN,M Erasmus,CK Nandan
713,1178393,Chennai,2019-04-06,Harbhajan Singh,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,runs,22.0,N,NaN,KN Ananthapadmanabhan,RJ Tucker
792,1216528,Dubai,2020-10-13,RA Jadeja,Dubai International Cricket Stadium,0,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,Chennai Super Kings,runs,20.0,N,NaN,AK Chaudhary,PR Reiffel

Count of these matches

In [186]:
csk["id"].count()

31

CSK matches toss won, decide to bat and lost match

In [187]:
csk1 = matches.loc[(matches["toss_winner"] == "Chennai Super Kings") & (matches["toss_decision"] == "bat") & (matches["winner"] != "Chennai Super Kings")]
csk1

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
19,336001,Chennai,2008-05-02,V Sehwag,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Delhi Daredevils,wickets,8.0,N,NaN,BF Bowden,K Hariharan
23,336005,Jaipur,2008-05-04,Sohail Tanvir,Sawai Mansingh Stadium,0,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,bat,Rajasthan Royals,wickets,8.0,N,NaN,Asad Rauf,AV Jayaprakash
99,392224,Durban,2009-05-14,LRPL Taylor,Kingsmead,1,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Royal Challengers Bangalore,wickets,2.0,N,NaN,BR Doctrove,DJ Harper
106,392231,Centurion,2009-05-18,BJ Hodge,SuperSport Park,1,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,Kolkata Knight Riders,wickets,7.0,N,NaN,SJA Taufel,RB Tiffin
156,419147,Nagpur,2010-04-10,RJ Harris,"Vidarbha Cricket Association Stadium, Jamtha",0,Deccan Chargers,Chennai Super Kings,Chennai Super Kings,bat,Deccan Chargers,wickets,6.0,N,NaN,HDPK Dharmasena,SJA Taufel
164,419155,Chennai,2010-04-15,G Gambhir,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Delhi Daredevils,wickets,6.0,N,NaN,HDPK Dharmasena,SS Hazare
221,501245,Kolkata,2011-05-07,Iqbal Abdulla,Eden Gardens,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Kolkata Knight Riders,runs,10.0,N,D/L,Asad Rauf,PR Reiffel
264,548322,Pune,2012-04-14,JD Ryder,Subrata Roy Sahara Stadium,0,Pune Warriors,Chennai Super Kings,Chennai Super Kings,bat,Pune Warriors,wickets,7.0,N,NaN,Aleem Dar,BNJ Oxenford
287,548347,Chennai,2012-04-30,G Gambhir,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,C Shamshuddin
321,548381,Chennai,2012-05-27,MS Bisla,"MA Chidambaram Stadium, Chepauk",0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,SJA Taufel
400,729283,Abu Dhabi,2014-04-18,GJ Maxwell,Sheikh Zayed Stadium,1,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Kings XI Punjab,wickets,6.0,N,NaN,RK Illingworth,C Shamshuddin
439,734013,Ranchi,2014-05-18,AB de Villiers,JSCA International Stadium Complex,0,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,BNJ Oxenford,C Shamshuddin
473,829735,Ahmedabad,2015-04-19,AM Rahane,"Sardar Patel Stadium, Motera",0,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,bat,Rajasthan Royals,wickets,8.0,N,NaN,AK Chaudhary,M Erasmus
499,829789,Chennai,2015-05-08,HH Pandya,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Mumbai Indians,wickets,6.0,N,NaN,CB Gaffaney,CK Nandan
505,829801,Raipur,2015-05-12,Z Khan,Shaheed Veer Narayan Singh International Stadium,0,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,bat,Delhi Daredevils,wickets,6.0,N,NaN,RK Illingworth,VA Kulkarni
678,1136603,Jaipur,2018-05-11,JC Buttler,Sawai Mansingh Stadium,0,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,bat,Rajasthan Royals,wickets,4.0,N,NaN,M Erasmus,YC Barde
728,1178408,Hyderabad,2019-04-17,DA Warner,"Rajiv Gandhi International Stadium, Uppal",0,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,bat,Sunrisers Hyderabad,wickets,6.0,N,NaN,UV Gandhe,IJ Gould
752,1181764,Chennai,2019-05-07,SA Yadav,"MA Chidambaram Stadium, Chepauk",0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,bat,Mumbai Indians,wickets,6.0,N,NaN,NJ Llong,Nitin Menon
773,1216509,Sharjah,2020-10-17,S Dhawan,Sharjah Cricket Stadium,0,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,Delhi Capitals,wickets,5.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
797,1216533,Abu Dhabi,2020-10-19,JC Buttler,Sheikh Zayed Stadium,0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma

Count of these matches

In [191]:
csk1["id"].count()

20

Total matches won toss, chose to bat and won match = 31
Total matches won toss, chose to bat and lost match = 20
Total matches won toss and chose to bat:

In [192]:
csk2 = (csk["id"].count()) + (csk1["id"].count())
csk2

51

Percentage of times CSK won toss, batted first and won match

In [194]:
percofcsktossbatwin = (csk["id"].count()) / csk2 * 100
percofcsktossbatwin

60.78431372549019

# QUESTION 17

Analysis of dismissals by teams and their distribution

In [196]:
deliveries.groupby(["bowling_team", "dismissal_kind", "bowler"]).agg({"id":"count"})

                                                  id
bowling_team        dismissal_kind bowler
Chennai Super Kings bowled         A Nehra         8
                                   BW Hilfenhaus   5
                                   CH Morris       2
                                   DE Bollinger    8
                                   DJ Bravo       11
...                                               ..
Sunrisers Hyderabad stumped        DJ Hooda        1
                                   KV Sharma       3
                                   Mohammad Nabi   1
                                   Rashid Khan     3
                                   S Nadeem        1

[1914 rows x 1 columns]

# QUESTION 18

Information grouped by venue

In [197]:
merged_file.groupby("venue").apply(lambda a: a[:])

                              id  inning  over  ball    batsman non_striker  \
venue
Barabati Stadium 29728    419117       2     0     3  RS Bopara    MS Bisla
                 29729    419117       2     0     4   MS Bisla   RS Bopara
                 29730    419117       2     0     5   MS Bisla   RS Bopara
                 29731    419117       2     1     1  RS Bopara    MS Bisla
                 29732    419117       2     1     2  RS Bopara    MS Bisla
...                          ...     ...   ...   ...        ...         ...
Wankhede Stadium 177978  1178431       2    11     5  RG Sharma    SA Yadav
                 177979  1178431       2    11     6   SA Yadav   RG Sharma
                 177980  1178431       2    12     1  RG Sharma    SA Yadav
                 177981  1178431       2    11     3   SA Yadav   RG Sharma
                 177982  1178431       2    11     4   SA Yadav   RG Sharma

                                    bowler  batsman_runs  extra_runs  \
venue
Barabati Stadium 29728          WPUJC Vaas             0           1
                 29729          WPUJC Vaas             0           0
                 29730          WPUJC Vaas             0           0
                 29731            RP Singh             0           0
                 29732            RP Singh             1           0
...                                    ...           ...         ...
Wankhede Stadium 177978          HF Gurney             1           0
                 177979          HF Gurney             0           0
                 177980  S Sandeep Warrier             0           0
                 177981          HF Gurney             0           0
                 177982          HF Gurney             1           0

                         total_runs  non_boundary  is_wicket dismissal_kind  \
venue
Barabati Stadium 29728            1             0          0            NaN
                 29729            0             0          0            NaN
                 29730            0             0          0            NaN
                 29731            0             0          0            NaN
                 29732            1             0          0            NaN
...                             ...           ...        ...            ...
Wankhede Stadium 177978           1             0          0            NaN
                 177979           0             0          0            NaN
                 177980           0             0          0            NaN
                 177981           0             0          0            NaN
                 177982           1             0          0            NaN

                        player_dismissed fielder extras_type     batting_team  \
venue
Barabati Stadium 29728               NaN     NaN     legbyes  Kings XI Punjab
                 29729               NaN     NaN         NaN  Kings XI Punjab
                 29730               NaN     NaN         NaN  Kings XI Punjab
                 29731               NaN     NaN         NaN  Kings XI Punjab
                 29732               NaN     NaN         NaN  Kings XI Punjab
...                                  ...     ...         ...              ...
Wankhede Stadium 177978              NaN     NaN         NaN   Mumbai Indians
                 177979              NaN     NaN         NaN   Mumbai Indians
                 177980              NaN     NaN         NaN   Mumbai Indians
                 177981              NaN     NaN         NaN   Mumbai Indians
                 177982              NaN     NaN         NaN   Mumbai Indians

                                  bowling_team     city        date  \
venue
Barabati Stadium 29728         Deccan Chargers  Cuttack  2010-03-19
                 29729         Deccan Chargers  Cuttack  2010-03-19
                 29730         Deccan Chargers  Cuttack  2010-03-19
                 29731         Deccan Chargers  Cuttack  2010-03-19
                 29732         Deccan Chargers  Cuttack  2010-03-19
...                                        ...      ...         ...
Wankhede Stadium 177978  Kolkata Knight Riders   Mumbai  2019-05-05
                 177979  Kolkata Knight Riders   Mumbai  2019-05-05
                 177980  Kolkata Knight Riders   Mumbai  2019-05-05
                 177981  Kolkata Knight Riders   Mumbai  2019-05-05
                 177982  Kolkata Knight Riders   Mumbai  2019-05-05

                        player_of_match             venue  neutral_venue  \
venue
Barabati Stadium 29728        A Symonds  Barabati Stadium              0
                 29729        A Symonds  Barabati Stadium              0
                 29730        A Symonds  Barabati Stadium              0
                 29731        A Symonds  Barabati Stadium              0
                 29732        A Symonds  Barabati Stadium              0
...                                 ...               ...            ...
Wankhede Stadium 177978       HH Pandya  Wankhede Stadium              0
                 177979       HH Pandya  Wankhede Stadium              0
                 177980       HH Pandya  Wankhede Stadium              0
                 177981       HH Pandya  Wankhede Stadium              0
                 177982       HH Pandya  Wankhede Stadium              0

                                   team1                  team2  \
venue
Barabati Stadium 29728   Deccan Chargers        Kings XI Punjab
                 29729   Deccan Chargers        Kings XI Punjab
                 29730   Deccan Chargers        Kings XI Punjab
                 29731   Deccan Chargers        Kings XI Punjab
                 29732   Deccan Chargers        Kings XI Punjab
...                                  ...                    ...
Wankhede Stadium 177978   Mumbai Indians  Kolkata Knight Riders
                 177979   Mumbai Indians  Kolkata Knight Riders
                 177980   Mumbai Indians  Kolkata Knight Riders
                 177981   Mumbai Indians  Kolkata Knight Riders
                 177982   Mumbai Indians  Kolkata Knight Riders

                             toss_winner toss_decision           winner  \
venue
Barabati Stadium 29728   Kings XI Punjab         field  Deccan Chargers
                 29729   Kings XI Punjab         field  Deccan Chargers
                 29730   Kings XI Punjab         field  Deccan Chargers
                 29731   Kings XI Punjab         field  Deccan Chargers
                 29732   Kings XI Punjab         field  Deccan Chargers
...                                  ...           ...              ...
Wankhede Stadium 177978   Mumbai Indians         field   Mumbai Indians
                 177979   Mumbai Indians         field   Mumbai Indians
                 177980   Mumbai Indians         field   Mumbai Indians
                 177981   Mumbai Indians         field   Mumbai Indians
                 177982   Mumbai Indians         field   Mumbai Indians

                          result  result_margin eliminator method  \
venue
Barabati Stadium 29728      runs            6.0          N    NaN
                 29729      runs            6.0          N    NaN
                 29730      runs            6.0          N    NaN
                 29731      runs            6.0          N    NaN
                 29732      runs            6.0          N    NaN
...                          ...            ...        ...    ...
Wankhede Stadium 177978  wickets            9.0          N    NaN
                 177979  wickets            9.0          N    NaN
                 177980  wickets            9.0          N    NaN
                 177981  wickets            9.0          N    NaN
                 177982  wickets            9.0          N    NaN

                                umpire1    umpire2
venue
Barabati Stadium 29728        BF Bowden  M Erasmus
                 29729        BF Bowden  M Erasmus
                 29730        BF Bowden  M Erasmus
                 29731        BF Bowden  M Erasmus
                 29732        BF Bowden  M Erasmus
...                                 ...        ...
Wankhede Stadium 177978  A Nand Kishore  CK Nandan
                 177979  A Nand Kishore  CK Nandan
                 177980  A Nand Kishore  CK Nandan
                 177981  A Nand Kishore  CK Nandan
                 177982  A Nand Kishore  CK Nandan

[193468 rows x 34 columns]

Total runs and wickets in every venue

In [198]:
mergeee = merged_file.groupby("venue").agg({"total_runs":"sum", "is_wicket":"sum"})
mergeee

                                                    total_runs  is_wicket
venue
Barabati Stadium                                          2278         80
Brabourne Stadium                                         3842        127
Buffalo Park                                               799         38
De Beers Diamond Oval                                      897         39
Dr DY Patil Sports Academy                                4810        216
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...        3746        163
Dubai International Cricket Stadium                      10402        385
Eden Gardens                                             23658        878
Feroz Shah Kotla                                         22947        866
Green Park                                                1298         49
Himachal Pradesh Cricket Association Stadium              2897        104
Holkar Cricket Stadium                                    2872         92
JSCA International Stadium Complex                        2056         81
Kingsmead                                                 4353        201
M Chinnaswamy Stadium                                    20237        741
M.Chinnaswamy Stadium                                     5127        179
MA Chidambaram Stadium, Chepauk                          17821        663
Maharashtra Cricket Association Stadium                   6780        241
Nehru Stadium                                             1363         62
New Wanderers Stadium                                     2292         92
Newlands                                                  1764         92
OUTsurance Oval                                            529         25
Punjab Cricket Association IS Bindra Stadium, M...        7021        219
Punjab Cricket Association Stadium, Mohali               10987        411
Rajiv Gandhi International Stadium, Uppal                19484        755
Sardar Patel Stadium, Motera                              3746        141
Saurashtra Cricket Association Stadium                    3316        107
Sawai Mansingh Stadium                                   14264        518
Shaheed Veer Narayan Singh International Stadium          1741         60
Sharjah Cricket Stadium                                   5924        194
Sheikh Zayed Stadium                                      8830        325
St George's Park                                          2033         77
Subrata Roy Sahara Stadium                                4755        201
SuperSport Park                                           3653        133
Vidarbha Cricket Association Stadium, Jamtha               882         48
Wankhede Stadium                                         23390        892

Average runs at each venue

In [199]:
mergeee["average_runs"] = (mergeee["total_runs"]/mergeee["is_wicket"])
mergeee

,total_runs,is_wicket,average_runs
venue,,,
Barabati Stadium,2278,80,28.475000
Brabourne Stadium,3842,127,30.251969
Buffalo Park,799,38,21.026316
De Beers Diamond Oval,897,39,23.000000
Dr DY Patil Sports Academy,4810,216,22.268519
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,3746,163,22.981595
Dubai International Cricket Stadium,10402,385,27.018182
Eden Gardens,23658,878,26.945330
Feroz Shah Kotla,22947,866,26.497691
Green Park,1298,49,26.489796
Himachal Pradesh Cricket Association Stadium,2897,104,27.855769
Holkar Cricket Stadium,2872,92,31.217391
JSCA International Stadium Complex,2056,81,25.382716
Kingsmead,4353,201,21.656716
M Chinnaswamy Stadium,20237,741,27.310391
M.Chinnaswamy Stadium,5127,179,28.642458
"MA Chidambaram Stadium, Chepauk",17821,663,26.879336
Maharashtra Cricket Association Stadium,6780,241,28.132780
Nehru Stadium,1363,62,21.983871
New Wanderers Stadium,2292,92,24.913043
Newlands,1764,92,19.173913
OUTsurance Oval,529,25,21.160000
"Punjab Cricket Association IS Bindra Stadium, Mohali",7021,219,32.059361
"Punjab Cricket Association Stadium, Mohali",10987,411,26.732360
"Rajiv Gandhi International Stadium, Uppal",19484,755,25.806623
"Sardar Patel Stadium, Motera",3746,141,26.567376
Saurashtra Cricket Association Stadium,3316,107,30.990654
Sawai Mansingh Stadium,14264,518,27.536680
Shaheed Veer Narayan Singh International Stadium,1741,60,29.016667
Sharjah Cricket Stadium,5924,194,30.536082
Sheikh Zayed Stadium,8830,325,27.169231
St George's Park,2033,77,26.402597
Subrata Roy Sahara Stadium,4755,201,23.656716
SuperSport Park,3653,133,27.466165
"Vidarbha Cricket Association Stadium, Jamtha",882,48,18.375000
Wankhede Stadium,23390,892,26.221973

# QUESTION 19

Data where Virat is batsman

In [200]:
viratpart1 = deliveries.loc[((deliveries["batsman"] == "V Kohli") & (deliveries["non_striker"] != "V Kohli"))]
viratpart1

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
211,335982,2,1,2,V Kohli,W Jaffer,I Sharma,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
212,335982,2,1,3,V Kohli,W Jaffer,I Sharma,0,4,4,0,0,NaN,NaN,NaN,legbyes,Royal Challengers Bangalore,Kolkata Knight Riders
213,335982,2,1,4,V Kohli,W Jaffer,I Sharma,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
216,335982,2,2,1,V Kohli,W Jaffer,AB Dinda,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
217,335982,2,2,2,V Kohli,W Jaffer,AB Dinda,0,0,0,0,1,bowled,V Kohli,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192772,1237178,1,0,5,V Kohli,D Padikkal,Sandeep Sharma,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192773,1237178,1,0,6,V Kohli,D Padikkal,Sandeep Sharma,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192774,1237178,1,1,1,V Kohli,D Padikkal,JO Holder,2,0,2,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192775,1237178,1,1,2,V Kohli,D Padikkal,JO Holder,0,0,0,0,1,caught,V Kohli,SP Goswami,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192892,1237178,1,0,4,V Kohli,D Padikkal,Sandeep Sharma,2,0,2,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad

Grouping this data by non_strikers

In [201]:
viratpart11 = viratpart1.groupby(["non_striker"]).agg({"total_runs":"sum"})
viratpart11

                   total_runs
non_striker
A Mukund                   10
AB McDonald                 3
AB de Villiers           1506
AD Nath                    42
AF Milne                    5
...                       ...
VH Zol                      0
W Jaffer                   35
Washington Sundar          43
YV Takawale                39
Yuvraj Singh              127

[76 rows x 1 columns]

Data where Virat is non stiker

In [203]:
viratpart2 = deliveries.loc[((deliveries["batsman"] != "V Kohli") & (deliveries["non_striker"] == "V Kohli"))]
viratpart2

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
214,335982,2,1,5,W Jaffer,V Kohli,I Sharma,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
215,335982,2,1,6,W Jaffer,V Kohli,I Sharma,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
852,335985,2,12,6,JH Kallis,V Kohli,AM Nayar,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
853,335985,2,13,1,JH Kallis,V Kohli,A Nehra,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
917,335985,2,10,2,JH Kallis,V Kohli,Harbhajan Singh,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192336,1216547,1,10,3,D Padikkal,V Kohli,RD Chahar,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
192340,1216547,1,11,1,D Padikkal,V Kohli,JJ Bumrah,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
192343,1216547,1,11,4,D Padikkal,V Kohli,JJ Bumrah,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
192346,1216547,1,12,1,D Padikkal,V Kohli,RD Chahar,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
192737,1237178,1,0,3,D Padikkal,V Kohli,Sandeep Sharma,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad

Grouping this data by batsman

In [205]:
viratpart22 = viratpart2.groupby(["batsman"]).agg({"total_runs":"sum"})
viratpart22

                   total_runs
batsman
A Kumble                    1
A Mukund                   12
AB McDonald                 6
AB de Villiers           1617
AD Nath                    29
...                       ...
VH Zol                      2
W Jaffer                   43
Washington Sundar          37
YV Takawale                46
Yuvraj Singh              130

[76 rows x 1 columns]

Maximum partnership of Virat

In [206]:
viratpart11[viratpart11.total_runs == viratpart11.total_runs.max()]

                total_runs
non_striker
AB de Villiers        1506

In [207]:
viratpart22[viratpart22.total_runs == viratpart22.total_runs.max()]

                total_runs
batsman
AB de Villiers        1617

In [208]:
viratmaxpartnership = viratpart11[viratpart11.total_runs == viratpart11.total_runs.max()] + viratpart22[viratpart22.total_runs == viratpart22.total_runs.max()]
viratmaxpartnership

                total_runs
non_striker
AB de Villiers        3123

Minimum partnership of Virat

In [209]:
viratpart11[viratpart11.total_runs == viratpart11.total_runs.min()]

             total_runs
non_striker
B Akhil               0
RR Bhatkal            0
SO Hetmyer            0
VH Zol                0

In [210]:
viratpart22[viratpart22.total_runs == viratpart22.total_runs.min()]

                 total_runs
batsman
CJ Anderson               0
JJ van der Wath           0
S Aravind                 0

In [211]:
viratminpartnership = viratpart11[viratpart11.total_runs == viratpart11.total_runs.min()] + viratpart22[viratpart22.total_runs == viratpart22.total_runs.min()]
viratminpartnership

                 total_runs
B Akhil                 NaN
CJ Anderson             NaN
JJ van der Wath         NaN
RR Bhatkal              NaN
S Aravind               NaN
SO Hetmyer              NaN
VH Zol                  NaN

This we can conclude that Virat has the best partnership with AB de Villiers

# QUESTION 20

Data where Pollard is Batsman

In [227]:
pollard = merged_file.loc[(merged_file["batsman"] == "KA Pollard")]
pollard

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
29244,419114,1,17,7,KA Pollard,SS Tiwary,MF Maharoof,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Daredevils,Delhi,2010-03-17,SR Tendulkar,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Mumbai Indians,runs,98.0,N,NaN,BR Doctrove,SK Tarapore
29245,419114,1,18,1,KA Pollard,SS Tiwary,DP Nannes,0,1,1,0,0,NaN,NaN,NaN,noballs,Mumbai Indians,Delhi Daredevils,Delhi,2010-03-17,SR Tendulkar,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Mumbai Indians,runs,98.0,N,NaN,BR Doctrove,SK Tarapore
29246,419114,1,18,2,KA Pollard,SS Tiwary,DP Nannes,4,0,4,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Daredevils,Delhi,2010-03-17,SR Tendulkar,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Mumbai Indians,runs,98.0,N,NaN,BR Doctrove,SK Tarapore
29247,419114,1,18,3,KA Pollard,SS Tiwary,DP Nannes,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Daredevils,Delhi,2010-03-17,SR Tendulkar,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Mumbai Indians,runs,98.0,N,NaN,BR Doctrove,SK Tarapore
29250,419114,1,18,6,KA Pollard,SS Tiwary,DP Nannes,0,0,0,0,1,run out,SS Tiwary,KD Karthik,NaN,Mumbai Indians,Delhi Daredevils,Delhi,2010-03-17,SR Tendulkar,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Mumbai Indians,runs,98.0,N,NaN,BR Doctrove,SK Tarapore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192716,1237177,1,12,2,KA Pollard,Ishan Kishan,R Ashwin,0,0,0,0,1,caught,KA Pollard,K Rabada,NaN,Mumbai Indians,Delhi Capitals,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
193364,1237181,2,16,4,KA Pollard,Ishan Kishan,A Nortje,4,0,4,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193365,1237181,2,16,5,KA Pollard,Ishan Kishan,A Nortje,4,0,4,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193366,1237181,2,16,6,KA Pollard,Ishan Kishan,A Nortje,1,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193367,1237181,2,17,1,KA Pollard,Ishan Kishan,K Rabada,0,0,0,0,1,bowled,KA Pollard,NaN,NaN,Mumbai Indians,Delhi Capitals,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

Grouping by match id

In [224]:
pollard1 = pollard.groupby("id").apply(lambda a: a[:])
pollard1

                     id  inning  over  ball     batsman   non_striker  \
id
419114  29244    419114       1    17     7  KA Pollard     SS Tiwary
        29245    419114       1    18     1  KA Pollard     SS Tiwary
        29246    419114       1    18     2  KA Pollard     SS Tiwary
        29247    419114       1    18     3  KA Pollard     SS Tiwary
        29250    419114       1    18     6  KA Pollard     SS Tiwary
...                 ...     ...   ...   ...         ...           ...
1237177 192716  1237177       1    12     2  KA Pollard  Ishan Kishan
1237181 193364  1237181       2    16     4  KA Pollard  Ishan Kishan
        193365  1237181       2    16     5  KA Pollard  Ishan Kishan
        193366  1237181       2    16     6  KA Pollard  Ishan Kishan
        193367  1237181       2    17     1  KA Pollard  Ishan Kishan

                     bowler  batsman_runs  extra_runs  total_runs  \
id
419114  29244   MF Maharoof             1           0           1
        29245     DP Nannes             0           1           1
        29246     DP Nannes             4           0           4
        29247     DP Nannes             1           0           1
        29250     DP Nannes             0           0           0
...                     ...           ...         ...         ...
1237177 192716     R Ashwin             0           0           0
1237181 193364     A Nortje             4           0           4
        193365     A Nortje             4           0           4
        193366     A Nortje             1           0           1
        193367     K Rabada             0           0           0

                non_boundary  is_wicket dismissal_kind player_dismissed  \
id
419114  29244              0          0            NaN              NaN
        29245              0          0            NaN              NaN
        29246              0          0            NaN              NaN
        29247              0          0            NaN              NaN
        29250              0          1        run out        SS Tiwary
...                      ...        ...            ...              ...
1237177 192716             0          1         caught       KA Pollard
1237181 193364             0          0            NaN              NaN
        193365             0          0            NaN              NaN
        193366             0          0            NaN              NaN
        193367             0          1         bowled       KA Pollard

                   fielder extras_type    batting_team      bowling_team  \
id
419114  29244          NaN         NaN  Mumbai Indians  Delhi Daredevils
        29245          NaN     noballs  Mumbai Indians  Delhi Daredevils
        29246          NaN         NaN  Mumbai Indians  Delhi Daredevils
        29247          NaN         NaN  Mumbai Indians  Delhi Daredevils
        29250   KD Karthik         NaN  Mumbai Indians  Delhi Daredevils
...                    ...         ...             ...               ...
1237177 192716    K Rabada         NaN  Mumbai Indians    Delhi Capitals
1237181 193364         NaN         NaN  Mumbai Indians    Delhi Capitals
        193365         NaN         NaN  Mumbai Indians    Delhi Capitals
        193366         NaN         NaN  Mumbai Indians    Delhi Capitals
        193367         NaN         NaN  Mumbai Indians    Delhi Capitals

                 city        date player_of_match  \
id
419114  29244   Delhi  2010-03-17    SR Tendulkar
        29245   Delhi  2010-03-17    SR Tendulkar
        29246   Delhi  2010-03-17    SR Tendulkar
        29247   Delhi  2010-03-17    SR Tendulkar
        29250   Delhi  2010-03-17    SR Tendulkar
...               ...         ...             ...
1237177 192716  Dubai  2020-11-05       JJ Bumrah
1237181 193364  Dubai  2020-11-10        TA Boult
        193365  Dubai  2020-11-10        TA Boult
        193366  Dubai  2020-11-10        TA Boult
        193367  Dubai  2020-11-10        TA Boult

                                              venue  neutral_venue  \
id
419114  29244                      Feroz Shah Kotla              0
        29245                      Feroz Shah Kotla              0
        29246                      Feroz Shah Kotla              0
        29247                      Feroz Shah Kotla              0
        29250                      Feroz Shah Kotla              0
...                                             ...            ...
1237177 192716  Dubai International Cricket Stadium              0
1237181 193364  Dubai International Cricket Stadium              0
        193365  Dubai International Cricket Stadium              0
        193366  Dubai International Cricket Stadium              0
        193367  Dubai International Cricket Stadium              0

                           team1           team2       toss_winner  \
id
419114  29244   Delhi Daredevils  Mumbai Indians  Delhi Daredevils
        29245   Delhi Daredevils  Mumbai Indians  Delhi Daredevils
        29246   Delhi Daredevils  Mumbai Indians  Delhi Daredevils
        29247   Delhi Daredevils  Mumbai Indians  Delhi Daredevils
        29250   Delhi Daredevils  Mumbai Indians  Delhi Daredevils
...                          ...             ...               ...
1237177 192716    Mumbai Indians  Delhi Capitals    Delhi Capitals
1237181 193364    Delhi Capitals  Mumbai Indians    Delhi Capitals
        193365    Delhi Capitals  Mumbai Indians    Delhi Capitals
        193366    Delhi Capitals  Mumbai Indians    Delhi Capitals
        193367    Delhi Capitals  Mumbai Indians    Delhi Capitals

               toss_decision          winner   result  result_margin  \
id
419114  29244          field  Mumbai Indians     runs           98.0
        29245          field  Mumbai Indians     runs           98.0
        29246          field  Mumbai Indians     runs           98.0
        29247          field  Mumbai Indians     runs           98.0
        29250          field  Mumbai Indians     runs           98.0
...                      ...             ...      ...            ...
1237177 192716         field  Mumbai Indians     runs           57.0
1237181 193364           bat  Mumbai Indians  wickets            5.0
        193365           bat  Mumbai Indians  wickets            5.0
        193366           bat  Mumbai Indians  wickets            5.0
        193367           bat  Mumbai Indians  wickets            5.0

               eliminator method      umpire1      umpire2
id
419114  29244           N    NaN  BR Doctrove  SK Tarapore
        29245           N    NaN  BR Doctrove  SK Tarapore
        29246           N    NaN  BR Doctrove  SK Tarapore
        29247           N    NaN  BR Doctrove  SK Tarapore
        29250           N    NaN  BR Doctrove  SK Tarapore
...                   ...    ...          ...          ...
1237177 192716          N    NaN  CB Gaffaney  Nitin Menon
1237181 193364          N    NaN  CB Gaffaney  Nitin Menon
        193365          N    NaN  CB Gaffaney  Nitin Menon
        193366          N    NaN  CB Gaffaney  Nitin Menon
        193367          N    NaN  CB Gaffaney  Nitin Menon

[2107 rows x 34 columns]

Addition

In [225]:
pollard2 = pollard.groupby("id").sum()
pollard2

,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,neutral_venue,result_margin
id,,,,,,,,,,
419114,8,146,34,10,1,11,0,2,0,784.0
419119,19,258,67,21,1,22,0,1,0,133.0
419122,14,102,26,7,0,7,0,1,0,49.0
419125,18,129,40,20,0,20,0,1,0,45.0
419130,5,61,15,1,0,1,0,1,0,205.0
...,...,...,...,...,...,...,...,...,...,...
1216538,14,233,51,25,1,26,0,0,0,476.0
1216541,4,48,18,6,0,6,0,1,0,32.0
1216547,52,391,98,60,2,62,0,0,0,0.0
1237177,2,23,8,0,0,0,0,1,0,114.0
1237181,8,65,16,9,0,9,0,1,0,20.0

Details of the matches where Pollard scored runs > 10 and took at least 1 wicket

In [229]:
pollard2.loc[(pollard2["batsman_runs"] > 10) & (pollard2["is_wicket"] >= 1)]

,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,neutral_venue,result_margin
id,,,,,,,,,,
419119,19,258,67,21,1,22,0,1,0,133.0
419125,18,129,40,20,0,20,0,1,0,45.0
419132,28,104,54,20,2,22,0,1,0,56.0
419138,10,183,29,21,0,21,0,1,0,630.0
419146,14,213,49,18,2,20,0,1,0,84.0
419150,14,221,57,25,1,26,0,1,0,518.0
419157,9,124,32,20,3,23,0,1,0,513.0
419165,20,174,39,27,0,27,0,2,0,220.0
501237,11,171,48,20,1,21,0,1,0,253.0
501241,23,393,92,28,8,36,0,1,0,483.0
501251,26,135,48,17,2,19,0,1,0,988.0
501256,28,245,40,24,1,25,0,1,0,140.0
501263,18,266,76,20,0,20,0,1,0,180.0
501267,46,308,90,18,1,19,0,1,0,115.0
548314,36,239,66,24,0,24,0,1,0,90.0
548317,33,409,114,64,3,67,0,1,0,891.0
548342,18,121,33,16,0,16,0,1,0,333.0
548379,40,295,80,16,3,19,0,1,0,760.0
598006,8,123,33,13,2,15,0,1,0,352.0
598029,48,354,75,33,0,33,0,1,0,120.0
598033,17,256,63,34,1,35,0,2,0,986.0
598063,16,231,56,17,3,20,0,1,0,224.0
598066,44,272,78,22,2,24,0,1,0,1100.0
598070,32,198,52,24,1,25,0,1,0,768.0
598072,12,96,21,11,0,11,0,1,0,24.0
729303,11,181,37,12,0,12,0,1,11,77.0
729309,30,414,110,33,1,34,0,1,30,180.0
729317,100,585,166,78,2,80,0,1,50,750.0
733983,32,454,119,43,2,45,0,1,0,608.0
734031,8,102,34,11,0,11,0,1,0,120.0
734045,8,139,27,14,0,14,0,1,0,56.0
829717,42,201,75,20,1,21,0,1,0,378.0
829721,34,499,112,70,1,71,0,1,0,238.0
829729,32,448,127,64,2,66,0,1,0,192.0
829751,28,436,112,33,4,37,0,1,0,560.0
829769,15,251,58,24,3,27,0,1,0,120.0
829795,48,260,77,49,1,50,0,1,0,936.0
829817,19,314,88,41,2,43,0,1,0,475.0
829823,18,276,66,36,0,36,0,1,0,738.0
980933,40,326,76,19,3,22,0,1,0,200.0
980973,26,84,48,11,2,13,0,1,0,1105.0
980985,20,253,73,27,4,31,0,1,0,140.0
1082592,17,260,62,27,0,27,0,1,0,119.0
1082597,34,228,63,17,0,17,0,1,0,68.0
1082600,22,125,36,11,2,13,0,1,0,44.0
1082602,98,490,170,70,3,73,0,1,0,196.0
1082606,48,339,86,39,2,41,0,1,0,144.0
1082614,31,376,119,26,4,30,0,1,0,434.0
1082625,22,158,33,15,0,15,0,1,0,0.0
1082628,26,143,53,17,1,18,0,1,0,65.0
1082644,11,194,36,13,0,13,0,1,0,99.0
1136567,23,263,94,28,0,28,0,1,0,23.0
1136591,30,70,55,13,2,15,0,1,0,210.0
1136610,24,271,93,50,1,51,0,1,0,72.0
1175358,26,96,42,21,0,21,0,1,0,481.0
1178399,66,455,121,83,4,87,0,2,0,99.0
1178422,42,189,72,20,0,20,0,1,0,714.0
1181768,25,394,94,41,0,41,0,1,0,25.0
1216492,14,221,48,18,1,19,0,1,0,70.0
1216495,25,384,94,41,0,41,0,1,0,250.0

# QUESTION 21

Data of every ball bowled by Rashid

In [252]:
rashid = deliveries.loc[(deliveries["bowler"] == "Rashid Khan")]
rashid

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
136612,1082591,2,7,1,TM Head,KM Jadhav,Rashid Khan,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
136613,1082591,2,7,2,TM Head,KM Jadhav,Rashid Khan,2,0,2,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
136614,1082591,2,7,3,TM Head,KM Jadhav,Rashid Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
136615,1082591,2,7,4,KM Jadhav,TM Head,Rashid Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
136616,1082591,2,7,5,TM Head,KM Jadhav,Rashid Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193077,1237180,1,10,2,S Dhawan,SS Iyer,Rashid Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Sunrisers Hyderabad
193078,1237180,1,10,3,SS Iyer,S Dhawan,Rashid Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Sunrisers Hyderabad
193079,1237180,1,10,4,S Dhawan,SS Iyer,Rashid Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Sunrisers Hyderabad
193080,1237180,1,10,5,S Dhawan,SS Iyer,Rashid Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Sunrisers Hyderabad
193081,1237180,1,10,6,SS Iyer,S Dhawan,Rashid Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Sunrisers Hyderabad

Grouping by id and adding the data

In [253]:
rashid.groupby("id").sum()

,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
id,,,,,,,,
1082591,48,228,84,36,0,36,0,2
1082596,24,174,84,19,0,19,0,3
1082600,48,204,84,19,1,20,0,1
1082604,24,216,84,29,0,29,0,1
1082609,50,245,91,41,4,45,0,2
...,...,...,...,...,...,...,...,...
1216538,25,285,91,21,1,22,0,1
1216542,48,252,84,12,0,12,0,3
1216545,48,234,84,25,0,25,0,1
1237178,24,246,84,22,0,22,0,0
1237180,24,234,84,26,0,26,1,1

Number of runs conceded by Rashid

In [254]:
rashid.groupby("id").total_runs.sum().sum()

1573

Number of wickets taken by Rashid

In [255]:
rashid.groupby("id").is_wicket.sum().sum()

80

Bowling strike rate of Rashid = Number of runs conceded by Rashid / Number of wickets taken by Rashid

In [256]:
rashid.groupby("id").total_runs.sum().sum() / rashid.groupby("id").is_wicket.sum().sum()

19.6625

19.6625 is a good bowling strike rate in ipl

#    QUESTION 22

Virat Kholi deliveries

In [260]:
vir = deliveries.loc[(deliveries["batsman"] == "V Kohli")]
vir

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
211,335982,2,1,2,V Kohli,W Jaffer,I Sharma,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
212,335982,2,1,3,V Kohli,W Jaffer,I Sharma,0,4,4,0,0,NaN,NaN,NaN,legbyes,Royal Challengers Bangalore,Kolkata Knight Riders
213,335982,2,1,4,V Kohli,W Jaffer,I Sharma,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
216,335982,2,2,1,V Kohli,W Jaffer,AB Dinda,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
217,335982,2,2,2,V Kohli,W Jaffer,AB Dinda,0,0,0,0,1,bowled,V Kohli,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192772,1237178,1,0,5,V Kohli,D Padikkal,Sandeep Sharma,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192773,1237178,1,0,6,V Kohli,D Padikkal,Sandeep Sharma,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192774,1237178,1,1,1,V Kohli,D Padikkal,JO Holder,2,0,2,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192775,1237178,1,1,2,V Kohli,D Padikkal,JO Holder,0,0,0,0,1,caught,V Kohli,SP Goswami,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
192892,1237178,1,0,4,V Kohli,D Padikkal,Sandeep Sharma,2,0,2,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad

Addition of all the deliveries in an over

In [261]:
vir1 = vir.groupby("over").sum()
vir1

,id,inning,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
over,,,,,,,,
0,172319156,263,751,192,7,199,0,2
1,209779545,356,870,260,13,273,0,8
2,239699926,391,961,315,17,332,0,12
3,230311705,424,992,339,10,349,1,7
4,235075352,401,944,299,10,309,0,9
5,234704245,444,994,319,14,333,0,10
6,228733962,413,1003,265,19,284,0,4
7,241130765,450,1082,342,10,352,1,8
8,221004884,400,940,335,8,343,0,4
9,214430571,393,921,317,4,321,0,6
10,238296868,436,1046,356,6,362,0,8
11,208344669,396,950,353,6,359,0,9
12,196926273,388,875,327,7,334,0,7
13,169668153,313,758,290,9,299,0,12
14,155731218,297,711,304,10,314,0,7
15,144544480,298,697,297,17,314,0,14
16,127153896,248,593,302,10,312,0,9
17,111483058,203,489,276,11,287,0,11
18,78506308,133,322,219,9,228,0,6
19,61760028,91,262,171,6,177,0,10

Filtering only needed columns

In [262]:
vir1.filter(items=["batsman_runs", "is_wicket"])

      batsman_runs  is_wicket
over
0              192          2
1              260          8
2              315         12
3              339          7
4              299          9
5              319         10
6              265          4
7              342          8
8              335          4
9              317          6
10             356          8
11             353          9
12             327          7
13             290         12
14             304          7
15             297         14
16             302          9
17             276         11
18             219          6
19             171         10

Thus, we see that Virat scores the most in the middle overs. When he starts playing aggressively in the powerplay overs, he tends to get out. And again when he tries to hit boundries in the depth overs, he gets out.